{% extends 'globals/base.html' %}

{% load static %}

{% block css%}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<style>
  .custom_img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
</style>
{% endblock %}

{% block body %}
    
  {% include 'globals/navbar.html' %}
  <!-- <body id="page-top">  -->
    
  {% include 'globals/carousel.html' %}
  <!--
    <div class=" p-0 m-0 masthead-bg w-100 h-100 parallax"></div>
    <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <img src= {% static "AlumniConnect/img/logo/alumb1.png" %} style="width: 4em; height: auto;">
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <h1 class="text-uppercase">
              <strong>ALUMNI CONNECT</strong>
            </h1>
          </div>
        </div>
      </div>
    </header>
  -->

    <section id="services" class="bg-primary" style="padding: 5rem 0;">
      <div class="container">
        <div class="row shadow-on-hover">
          <div class="col-lg-3 col-md-6 text-center">
            <a class="d-inline-block h-100 w-100" style="color: transparent;" href="{% url 'publications:index' %}">
                <div class="service-box mt-5 mb-3 mx-auto">
                    <i class="fas fa-4x fa-newspaper text-white mb-3 sr-icon-1"></i>
                    <h3 class="mb-3 text-white">NEWSLETTER</h3>
                    <p class="text-faded mb-0">Take a look at the past and upcoming events, as well as testimonials and more</p>
                </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <a class="d-inline-block h-100 w-100" style="color: transparent;" href="{% url 'members:index' %}">    
                <div class="service-box mt-5 mb-3 mx-auto">
                    <i class="fas fa-4x fa-award text-white mb-3 sr-icon-2"></i>
                    <h3 class="mb-3 text-white">ALUMNI DIRECTORY</h3>
                    <p class="text-faded mb-0">Our alumni have distinguished themselves in various walks of life</p>
                </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <a class="d-inline-block h-100 w-100" style="color: transparent;" href="{% url 'members:alumnibody' %}">    
                <div class="service-box mt-5 mb-3 mx-auto">
                    <i class="fas fa-4x fa-users text-white mb-3 sr-icon-3"></i>
                    <h3 class="mb-3 text-white">ALUMNI BODY</h3>
                    <p class="text-faded mb-0">Take a glimpse at the People working behind the scenes</p>
                </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <a class="d-inline-block h-100 w-100" style="color: transparent;" href="{% url 'login' %}">    
                <div class="service-box mt-5 mb-3 mx-auto">
                    <i class="fas fa-4x fa-sign-in-alt  text-white mb-3 sr-icon-4"></i>
                    <h3 class="mb-3 text-white">CONNECT</h3>
                    <p class="text-faded mb-0">Signin or Signup into our portal</p>
                </div>
            </a>
          </div>
        </div>
      </div>
    </section>

    <section id="message" class="p-0 m-auto">
      <div class="jumbotron p-4">
        <div class="message p-3">
          <h5 class="lead text-center text-sm" style="font-weight: 400; font-family: Roboto, sans-serif; line-height: 1.2;">
            Dear torch-bearers of IIITDMJ:
            <br><br>
            Life at IIITDMJ doesn’t end after you graduate; in fact, it continues, grows and thrives. 
            As an alumnus of IIITDMJ, each one of you is the brand ambassador of your alma mater. 
            Your brilliance in the professional paths you have chosen to follow as well as a responsible citizen 
            of this country (and/or globe), and moreover as a good human being articulates the pride of our institute. 
            The magnificent examples set by you continue to inspire students to achieve even greater milestones.
            <br><br>
            Looking forward to more meaningful interactions with you to take the Institute to greater heights 
            with the sky as the limit...
          </h5>
        </div>
        <div class="text-center" style="margin-top: 1rem; font-family: Roboto, sans-serif">
          <p><img class="img-fluid custom_img" src="{% static 'AlumniConnect/img/people/PTandon2.jpg' %}" alt="Puneet Tandon"
              style="object-fit:cover; object-position:50% 0%;"></p>
          <h5>Prof. Puneet Tandon</h5>
          <h6>Prof. In-Charge, Alumni Cell</h6>
        </div>
      </div>
    </section>


<!--
        ███████╗██╗   ██╗███████╗███╗   ██╗████████╗███████╗
        ██╔════╝██║   ██║██╔════╝████╗  ██║╚══██╔══╝██╔════╝
        █████╗  ██║   ██║█████╗  ██╔██╗ ██║   ██║   ███████╗
        ██╔══╝  ╚██╗ ██╔╝██╔══╝  ██║╚██╗██║   ██║   ╚════██║
        ███████╗ ╚████╔╝ ███████╗██║ ╚████║   ██║   ███████║
        ╚══════╝  ╚═══╝  ╚══════╝╚═╝  ╚═══╝   ╚═╝   ╚══════╝
-->
    <section class="bg-white" id="events" style="padding:2rem">
      <div class="container">
        <div class="row">
          <div class="col-12 text-left mb-2">
            <h2 class="font-open-sans m-0" style="float:left">Events</h2>
            <div class="d-flex align-items-center h-100" style="float:right">
              <a class="btn btn-primary btn-sm px-3 py-2 js-scroll-trigger mx-auto" href="{% url 'events_news:events' %}">VIEW ALL</a>
            </div>
            
          </div>
        </div>
        <div class="row">
          {% for item in events %}
          <div class="col-lg-4 col-md-6 p-2 d-flex justify-content-center">
            <div class="card w-100 shadow-lg border border-primary border-rounded mx-auto" style="max-width: 24rem; max-height: 40rem;">
              {% if item.picture %}
              <img src="{{ item.picture.url }}" class="card-img-top home-card-img" alt="" width="300px" >
              {% else %}
              <img src="{% static 'AlumniConnect/img/event.png' %}" class="card-img-top home-card-img" alt="" width="300px">
              {% endif %}
              <div class="card-body pb-0">
                  {% if not item.is_completed %}
                  <h5><span class="badge badge-pill badge-success"> Upcoming </span></h5>
                  {% else %}
                  <h5><span class="badge badge-pill badge-secondary"> Past </span></h5>
                  {% endif %}
                  
                  <h5 class="card-title font-weight-bold mt-3">{{item.title_stripped}}</h5>
                
                  <p class="m-2 font-italic font-open-sans mb-3">
                    <i class="fas fa-calendar-alt font-weight-lighter " title="Start Date"></i>
                    {{item.start_date|date:"l, d M, o"}}
                    <br>
                    <i class="fas fa-map-marker-alt" title="Location"></i>
                    {{item.location}}
                    <br>
                    <i class="fas fa-users" title="Number of Attendees"></i>
                    {{item.count}}
                  </p>
                  
              </div>
              <div class="card-footer text-center">
                <a href="{% url 'events_news:event' id=item.event_id %}" class="btn btn-primary btn-sm px-4 py-2">VIEW</a>
              </div>
            </div>
          </div>
          {% endfor %}
          <!-- 
          <div class="col-lg-4 p-2">
            <div class="card w-100 shadow-sm" style="max-width: 24rem;">
              <img src="{% static "AlumniConnect/img/coll.jpg" %}" class="card-img-top" alt="">
              <div class="card-body">
                <h5 class="card-title font-weight-bold">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <p class="m-2 font-weight-light font-italic text-muted font-open-sans mb-3">
                  <i class="fas fa-calendar-alt font-weight-lighter "></i>
                  December 20, 2018 
                </p>
                <a href="#" class="btn btn-primary">VIEW</a>
              </div>
            </div>
          </div>
          -->
        </div>
      </div>
    </section>


    <!--
          ███╗   ██╗███████╗██╗    ██╗███████╗
          ████╗  ██║██╔════╝██║    ██║██╔════╝
          ██╔██╗ ██║█████╗  ██║ █╗ ██║███████╗
          ██║╚██╗██║██╔══╝  ██║███╗██║╚════██║
          ██║ ╚████║███████╗╚███╔███╔╝███████║
          ╚═╝  ╚═══╝╚══════╝ ╚══╝╚══╝ ╚══════╝
    -->

    <section class="bg-white" id="events" style="padding:2rem">
      <div class="container">

        <div class="row">
          <div class="col-12 text-left mb-2">
            <h2 class="font-open-sans m-0" style="float:left">News</h2>
            <div class="d-flex align-items-center h-100" style="float:right">
              <a class="btn btn-primary btn-sm px-3 py-2 js-scroll-trigger mx-auto" href="{% url 'news:index' %}">VIEW ALL</a>
            </div>
          </div>
        </div>
        <div class="row">
          {% for item in news %}
          <div class="col-lg-4 col-md-6 p-2 d-flex justify-content-center">
            <div class="card w-100 shadow-lg border border-primary border-rounded mx-auto" style="max-width: 24rem; max-height: 40rem;">
                  {% if item.picture %}
                  <img src="{{ item.picture.url }}" class="card-img-top home-card-img" alt=""  width="300px">
                  {% else %}
                  <img src="{% static 'AlumniConnect/img/event.png' %}" class="card-img-top home-card-img" alt=""  width="300px">
                  {% endif %}
                  <div class="card-body pb-0">
                    <h5 class="card-title font-weight-bold">{{item.title_stripped|safe}}</h5>
                    <p class="m-2 font-italic  font-open-sans mb-3">
                      <i class="fas fa-calendar-alt font-weight-lighter "></i>
                      {{item.date|date:"l, d M, o"}}
                      <br>
                    </p>
                  </div>
                  <div class="card-footer text-center">
                    <a href="{% url 'news:news' id=item.news_id %}" class="btn btn-primary btn-sm px-4 py-2">VIEW</a>
                  </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>  

<!--
    <section class="bg-white" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center m-0">
            <div class="row border border-primary p-4">
              <div class="col-lg-6 p-0">
                <img class="col-lg-12 p-0" src= {% static "AlumniConnect/img/coll.jpg" %} alt="">
              </div>
              <div class="col-lg-6 text-left">
                <h2 class="h3 text-primary pt-1">HISTORY & MISSION</h2>
                <p class="text-muted">The Alumni Association was established in 2017 to operate exclusively for educational support, charitable concerns and scientific research of the Members and students undergoing graduation or post-graduation . The Association is a registered body with the Registrar of Societies, MP.</p>
              </div>
            </div>
            <div class="row border border-primary p-4 mt-4">
              <div class="col-lg-12 text-left">
                  <h2 class="h3 text-primary pt-1">ACHIEVEMENTS</h2>
                  <p class="text-muted">
                    <ul>
                      <li>
                        Design (MDes) students Shivam Bharti, Rakesh Kumar Sahu, Avinash Sahu won an award in student category among 117 international entries in the International conference ' UX India - 2018 ' held in Bangalore. The topic of their presentation was User Experience Design for customised tailored clothes. 
                      </li>
                      <li>
                        Mr. Arjun R Harish student of B.tech (Mechanical Engineering), final year, received an International summer fellowship in the Department of Industrial and Manufacturing Systems Engineering at The University of Hong Kong. He will work with Prof Huang and Dr. Saurabh Pratap in joint collaboration of a research work in the domain of " In-bound and out-bound transportation for the E-commerce logistics company". He has signed a contract of fellowship 12000 HKD/month from June 2018 to Nov 2018. In world ranking, the University of Hong Kong is overall, 27th rank and 1st rank in Hong Kong. 
                      </li>
                    </ul>
                  </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mx-auto text-center">
            <div class="row border border-primary p-4 ml-2">
              <div class="col-lg-12">
                  <h2 class="section-heading text-primary">Downloads</h2>
                  <hr class="dark my-4">
                  <p class="text-muted mb-4">Find old newletters, NIRF data, Society Registration and other docs here.</p>
                  <a class="btn btn-light btn-xl js-scroll-trigger" href="#">Download</a>
              </div>
            </div>
            <div class="row border border-primary p-4 ml-2 mt-4">
              <div class="col-lg-12 ">
                  <h4 class="section-heading text-primary">MESSAGE</h4>
                  <hr class="dark my-4">
                  <div class="row text-left">
                      <div class="col-lg-4">
                        <img width="80px" height="100px"  src= {% static "AlumniConnect/img/TulikaRuthNelson.jpg" %}>
                      </div>
                      <div class="col-lg-8">
                        <div class="text-uppercase text-primary font-open-sans" >Tulika Ruth Nelson</div>
                        <div class="text-uppercase font-open-sans" style="font-size:0.7rem">Officer-In-Charge</div>
                      </div>
                  </div>
                  <p class="text-muted mb-4  text-truncate mt-4">
                      I convey to you a very warm welcome from your Alma Mater and take great pride in bringing you closer to PDPM-IIITDMJ.This is an exciting time for our beloved Institute. Changes are happening and we are taking key steps towards our mission for excellence. Evolution is taking place in academics, placements,research and overall campus life. Visit us to experience this new era yourself. It is a new era where the Alma Mater is becoming a reference point for its alumni. You are a part of our timeline, and your engagement with the Institute is crucial in helping us reach our vision. You are energetic, knowledgeable and immensely talented with strong networks, you can mobilize funds and resources for over all development and expansion of your Alma Mater. So, be proud to be connected, and make others proud by connecting and contributing. If you have any ideas on how we can engage with you, please feel free to contact me at alumni@iiitdmj.ac.in
                      We can do better . . . and we should! 
                  </p>
                  <a class="btn btn-light btn-xl js-scroll-trigger" href="#">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-primary"  style="padding: 5rem 0;" id="featured">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">Featured Alumni</h2>
            <hr class="light my-4">
            <p class="text-faded mb-4">Our alumni have distinguished themselves in various walks of life.</p>
            <a class="btn btn-light btn-xl js-scroll-trigger" href="#">CONNECT</a>
          </div>
        </div>
      </div>
    </section>
  -->


  <!--
           ██████╗  █████╗ ██╗     ██╗     ███████╗██████╗ ██╗   ██╗
          ██╔════╝ ██╔══██╗██║     ██║     ██╔════╝██╔══██╗╚██╗ ██╔╝
          ██║  ███╗███████║██║     ██║     █████╗  ██████╔╝ ╚████╔╝ 
          ██║   ██║██╔══██║██║     ██║     ██╔══╝  ██╔══██╗  ╚██╔╝  
          ╚██████╔╝██║  ██║███████╗███████╗███████╗██║  ██║   ██║   
          ╚═════╝ ╚═╝  ╚═╝╚══════╝╚══════╝╚══════╝╚═╝  ╚═╝   ╚═╝   
  -->
    <section class="bg-primary" style="padding: 2rem ;" id="gallery">
      <div class="container">
        <div class="row">
          <div class="col-12 text-left mb-2">
            <h2 class=" text-white font-open-sans m-0" style="float:left">Gallery</h2>
            <div class="d-flex align-items-center h-100" style="float:right">
              <a class="btn btn-dark btn-sm px-3 py-2 js-scroll-trigger mx-auto" href="{% url 'gallery:gallery' %}">VIEW ALL</a>
            </div>
          </div>
        </div>
        <div class="row">
          {% for album in albums %}
          <div class="col-lg-4 col-md-6 p-2 d-flex justify-content-center">
            <div class="card w-100 shadow-lg border border-light border-rounded mx-auto"
              style="max-width: 24rem; max-height: 40rem;">
                <img src="{{ album.thumb.url }}" alt="{{ album.title }}" class="card-img-top home-card-img" width="300px" />
                <div class="card-body pb-0">
    
                  <h5 class="card-title font-weight-bold">{{album.title|striptags}}</h5>
    
                  <p class="m-2 font-italic  font-open-sans mb-3">
                    <i class="fas fa-calendar-alt font-weight-lighter "></i>
                    {{album.created|date:"l, d M, o"}}
                    <br>
                    <i class="far fa-images"></i>
                    {{ album.images_count }} Photo{{ album.images_count|pluralize }}
                    <br>
                  </p>
                  
                </div>
                <div class="card-footer text-center">
                  <a href="{% url 'gallery:album' album.slug %}" class="btn btn-primary btn-sm px-4 py-2">VIEW</a>
                </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>

    <!--
    <section class="p-0" id="gallery">
      <div class="container-fluid p-0">
        <div class="row no-gutters popup-gallery">
          <div class="col-lg-3 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/1.jpg">
              <img class="img-fluid" src= {% static "AlumniConnect/img/portfolio/thumbnails/1.jpg" %} alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/2.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/2.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/3.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/3.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/4.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/4.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/4.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/4.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/4.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/4.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/5.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/5.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/6.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/6.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>
  -->

  <!-- Toast -->
  {% for message in messages %}
  <div class="row justify-content-center">
    <div style="position: fixed; bottom: 25px; left: 10px; z-index: 10;">
      <div class="toast bg-success {{ message.tags }}" id="alert_toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="1500">
        <div class="toast-body p-2 px-3">
          <strong class="mr-auto">{{message}}</strong>
          <button type="button" class="ml-3 close" style="margin-top: -3px;" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}

  {% include 'globals/footer.html' %}
{% endblock %}

{% block javascript %}
  <script>
    if("{{messages}}"){
      $('#alert_toast').toast('show');
    }
  </script>
{% endblock %}

<!-- </html> -->