<!-- PERSONAL DETAILS SECTION -->
<div class="col-lg-12 text-primary mx-0 px-0">
    <h3 class="mb-4 mx-0">
      <strong>Personal Details</strong>
    </h3>
</div>

<div class="mb-3 row">
    <div class="mb-3 col-sm-12 col-lg-6 m-auto" >
        <label for="roll_no" class="form-label">Roll Number <span class="asteriskField">*</span></label>
        <input type="text" class="form-control" name="roll_no" id="roll_no" aria-describedby="emailHelp"
        pattern="20[0-1BMPID][1-9A-Za-z]{5,6}" title="Enter Institute ID" value="{{roll_no}}" required/>
    </div>
    <div class="mb-3 col-sm-12 col-lg-6 m-auto" >
        <label for="name" class="form-label">Name <span class="asteriskField">*</span></label>
        <input type="text" class="form-control" name="name" id="name" aria-describedby="name"
        value="{{name}}" required/>
    </div>
</div>

<div class="mb-3 row">
    <div class="mb-3 col-sm-12 col-lg-6 m-auto" >
        <label for="fathers-name" class="form-label">Father/Mother's Name <span class="asteriskField">*</span></label>
        <input type="text" class="form-control" name="fathers_name" id="fathers-name"
        aria-describedby="fathers-name" value="{{fathers_name}}" required/>
    </div>
    <div class="mb-3 col-sm-12 col-lg-6 m-auto" >
        <label for="spouse-name" class="form-label">Spouse's Name</label>
        <input type="text" class="form-control" name="spouse_name" id="spouse-name" aria-describedby="emailHelp"
        value="{{spouse_name}}"/>
    </div>
</div>

<div class="mb-3 row">
    <div class="mb-3 col-sm-12 col-lg-6 m-auto" >
        <label class="mb-1" for="sex">Gender <span class="asteriskField">*</span></label>
        <div>
            <input type="radio" class="btn-check" name="sex" value="M" id="male" autocomplete="off" required />
            <label class="btn btn-sm btn-outline-secondary" for="male">Male</label>
            
            <input type="radio" class="btn-check" name="sex" value="F" id="female" autocomplete="off" required />
            <label class="btn btn-sm btn-outline-secondary" for="female">Female</label>
            
            <input type="radio" class="btn-check" name="sex" value="O" id="others" autocomplete="off" required />
            <label class="btn btn-sm btn-outline-secondary" for="others">Others</label>
        </div>
    </div>
    <div class="mb-3 col-sm-12 col-lg-6 m-auto" >
        <label for="dob" class="form-label">Date of Birth<span class="asteriskField">*</span></label>
        <input type="date" class="form-control" name="date_of_birth" id="dob" value="{{date_of_birth}}" required/>     
    </div>
</div>
<!-- ----------------------- -->

<!-- ACADEMIC DETAILS SECTION -->
<div class="col-lg-12 text-primary mx-0 px-0">
    <h3 class="my-4 mx-0">
      <strong>Academic Details</strong>
    </h3>
</div>

<div class="mb-3 row">
    <div class="mb-3 col-sm-12 col-lg-6 m-auto">
        <label for="programme" class="form-label ">Programme <span class="asteriskField">*</span></label>
        <select name="programme" class="form-select custom-select" aria-label="Default select example" id="programme"
            required>
            <option value="">Select programme</option>
            {% for programme in programmes %}
            <option value="{{programme.0}}">{{programme.1}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3 col-sm-12 col-lg-6 m-auto">
        <label for="branch" class="form-label">Discipline <span class="asteriskField">*</span></label>
        <select name="branch" class="form-select custom-select" aria-label="Default select example" id="branch" required>
            <option value="">Select discipline</option>
            {% for branch in branches %}
            <option value="{{branch.0}}">{{branch.1}}</option>
            {% endfor %}
        </select>
    </div>
</div>

<div class="mb-3 row">
    <div class="mb-3 col-sm-12 col-lg-6 m-auto">
        <label for="admission-year" class="form-label">Year of Admission <span class="asteriskField">*</span></label>
        <select name="year_of_admission" class="form-select custom-select" aria-label="Default select example"
            id="admission-year" required>
            <option value="">Select admission year</option>
            {% for year in admission_year %}
            <option value="{{year.0}}">{{year.1}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3 col-sm-12 col-lg-6 m-auto">
        <label for="batch-year" class="form-label">Year of Passing <span class="asteriskField">*</span></label>
        <select name="batch" class="form-select custom-select" aria-label="Default select example" id="batch-year"
            required>
            <option value="">Select year of passing</option>
            {% for batch in batches %}
            <option value="{{batch}}">{{batch}}</option>
            {% endfor %}
        </select>
    </div>
</div>


<!-- CONTACT DETAILS SECTION -->
<div class="col-lg-12 text-primary mx-0 px-0">
    <h3 class="my-4 mx-0">
      <strong>Contact Details</strong>
    </h3>
</div>
<div class="mb-3 row">
    <div class="mb-3 col-sm-12 col-lg-6 m-auto" >
        <label for="mobile-1" class="form-label">Mobile Number <span class="asteriskField">*</span></label>
        <input type="number" minlength="10" class="form-control" name="mobile1" id="mobile-1"
        aria-describedby="emailHelp" value="{{mobile1}}" required/>
    </div>
    
    <div class="mb-3 col-sm-12 col-lg-6 m-auto" >
        <label for="mobile-2" class="form-label">Alternate Mobile Number</label>
        <input type="number" name="mobile2" minlength="10" class="form-control" id="mobile-2"
        aria-describedby="emailHelp" pvalue="{{mobile2}}"/>
    </div>
</div>

<div class="mb-3 row">
    <div class="mb-3 col-sm-12 col-lg-6 m-auto">
        <label for="email" class="form-label">Email address <span class="asteriskField">*</span></label>
        <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp"
        value="{{email}}" required/>
    </div>
    
    <div class="mb-3 col-sm-12 col-lg-6 m-auto">
        <label for="alternate-email" class="form-label">Alternate Email address</label>
        <input type="email" class="form-control" name="alternate_email" id="alternate-email" aria-describedby="emailHelp"
        value="{{alternate_email}}"/>
    </div>
</div>
    
<div class="mb-3">
    <label for="current-address" class="form-label">Current Address<span class="asteriskField">*</span></label>
    <div class="">
        <textarea class="form-control col-lg-12" rows="3" name="current_address" id="current-address"
        placeholder="Enter current address" required></textarea>
    </div>
</div>

<div class="location mb-3 d-flex justify-content-evenly">
    <div class="mb-3 mx-1" style="flex: 1">
        <label for="countryId" class="form-label">Country <span class="asteriskField">*</span></label>
        <select name="country" class="form-select countries order-alpha presel-IN custom-select"
        aria-label="Default select example" id="countryId" required></select>
    </div>
    <div class="mb-3 mx-1 " style="flex: 1">
        <label for="stateId" class="form-label">State <span class="asteriskField">*</span></label>
        <select name="state" class="form-select states order-alpha custom-select" aria-label="Default select example"
        id="stateId" required></select>
    </div>
    <div id="cityWrapper" class="mb-3 mx-1" style="flex: 1">
        <div id="citySelectWrapper" class="mb-2 mx-1">
            <label for="cityId" class="form-label">City <span class="asteriskField">*</span></label>
            <select name="city" class="form-select cities order-alpha custom-select" aria-label="Default select example"
            id="cityId" required></select>
        </div>
        <div id="cityInputWrapper" class="mb-2 mx-1" style="flex: 1; display: none;">
            <label for="cityInput" class="form-label">City <span class="asteriskField">*</span></label>
            <input id="cityInput" name="city_input" type="text" class="form-control" placeholder="Enter city name" />
        </div>
        <div class="mb-3 mx-1 form-check">
            <label for="cityCheckbox" class="form-check-label">
                <input type="checkbox" name="city_checkbox" id="cityCheckbox" class="form-check-input"
                    onchange="toggleCityInput()" />
                Can't find my city
            </label>
        </div>
    </div>
</div>

<div class="mb-3">
    <label for="permanent-address" class="form-label">Permanent Address</label>
    <div class="">
        <textarea class="form-control col-lg-12" rows="3" name="permanent_address" id="permanent-address"
        placeholder="Enter complete permanent address"></textarea>
    </div>
</div>
<!-- ----------------------- -->

<!-- ACADEMICS & WORK EXPERIENCE SECTION -->
<div class="col-lg-12 text-primary mx-0 px-0">
    <h3 class="my-4 mx-0">
      <strong>Experience & Higher Studies</strong>
    </h3>
</div>

<div class="mb-3">
    <label class="mb-3" for="working_status">Working Status <span class="asteriskField">*</span></label>
    <div class="mt-3 row">
        <div class="col-sm-12 col-lg-4 m-auto">
            <input type="radio" class="btn-check" name="working_status" value="Is Working" id="status1"
            autocomplete="off" required />
            <label class="btn btn-sm btn-outline-secondary" for="status1">Is Working
            </label>
        </div>
        <div class="col-sm-12 col-lg-4 m-auto">   
            <input type="radio" class="btn-check" name="working_status" value="Is Pursuing Higher Studies" id="status2"
            autocomplete="off" required />
            <label class="btn btn-sm btn-outline-secondary" for="status2">Is Pursuing Higher Studies
            </label>
        </div>
        <div class="col-sm-12 col-lg-4 m-auto">
            <input type="radio" class="btn-check" name="working_status" value="Is Self Employed" id="status3"
            autocomplete="off" required />
            <label class="btn btn-sm btn-outline-secondary" for="status3">Is Self Employed
            </label>
        </div>
    </div>

    <div class="my-1"> 
        <div class="mb-3 row">
            <div id="cur_org" class="col-sm-12 col-lg-6 m-auto">
                <div class="mb-3">
                    <label for="current-org" class="form-label">Current Organisation</label>
                    <input type="text" class="form-control" name="current_organisation" id="current-org"
                        aria-describedby="emailHelp" placeholder="Enter Organisation Name" value="{{current_organisation}}"/>
                </div>
            </div>
            <div id="cur_pos" class="col-sm-12 col-lg-6 m-auto">
                <div class="mb-3">
                    <label for="curr-pos" class="form-label">Current Position</label>
                    <input type="text" class="form-control" name="current_position" id="curr-pos"
                        aria-describedby="emailHelp" placeholder="Enter Position " value="{{current_position}}"/>
                </div>
            </div>
        </div>

        <div class="mb-3 row">
            <div id="cur_uni" class="col-sm-12 col-lg-6 m-auto">
                <div class="mb-3">
                    <label for="current-uni" class="form-label">Current University</label>
                    <input type="text" class="form-control" name="current_university" id="current-uni"
                        aria-describedby="emailHelp" placeholder="Enter University Name" value="{{current_university}}"/>
                </div>
            </div>
            <div id="cur_course" class="col-sm-12 col-lg-6 m-auto">
                <div class="mb-3">
                    <label for="curr-course" class="form-label">Course</label>
                    <input type="text" class="form-control" name="current_course" id="curr-course"
                        aria-describedby="emailHelp" placeholder="Enter Course " value="{{current_course}}"/>
                </div>
            </div>
        </div>

        <div class="mb-3 row">
            <div id="date_of_joining" class="col-sm-12 col-lg-6 m-auto">
                <div class="mb-3">
                    <label for="date-of-joining" class="form-label">Date of Joining</label>
                    <div class="mb-3 w-auto">
                        <input type="date" class="form-control" name="date_of_joining" id="date-of-joining" value="{{date_of_joining}}">
                    </div>
                </div>
            </div>
            <div id="past_experience" class="col-sm-12 col-lg-6 m-auto">
                <div class="mb-3">
                    <label for="past-exp" class="form-label">Past Experience</label>
                    <input type="number" placeholder="Experience (in years)" class="form-control" name="past_experience"
                        id="past-exp" value="{{past_experience}}">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ----------------------- -->

<!-- SOCIAL MEDIA HANDLES -->
<div class="col-lg-12 text-primary mx-0 px-0">
    <h3 class="mt-4 mb-5 mx-0">
      <strong>Socials</strong>
    </h3>
</div>

<div class="social mb-3 row">
    
        <div class="mb-3 col-sm-12 col-lg-6 m-auto">
            <label for="linkedin" class="form-label">LinkedIn<span class="asteriskField">*</span></label>
            <input type="url" class="form-control" name="linkedin" id="linkedin"
                aria-describedby="emailHelp" placeholder="Enter your LinkedIn url" value="{{linkedin}}" required/>
        </div>
        <div class="mb-3 col-sm-12 col-lg-6 m-auto">
            <label for="facebook" class="form-label">Facebook</label>
            <input type="url" class="form-control" name="facebook" id="facebook" aria-describedby="emailHelp"
                placeholder="Enter your Facebook profile link" value="{{facebook}}"/>
        </div>
    
    
        <div class="mb-3 col-sm-12 col-lg-6 m-auto">
            <label for="instagram" class="form-label">Instagram</label>
            <input type="url" class="form-control" name="instagram" id="instagram" aria-describedby="emailHelp"
                placeholder="Enter your Instagram profile link" value="{{instagram}}"/>
        </div>
        <div class="mb-3 col-sm-12 col-lg-6 m-auto">
            <label for="website" class="form-label">Website</label>
            <input type="url" class="form-control" name="website" id="website" aria-describedby="emailHelp"
                placeholder="Enter your personal portfolio website" value="{{website}}"/>
        </div>
    
</div>
<!-- ----------------------- -->
<div class="input-group mb-3">

    <div class="custom-file">
        <label class="custom-file-label" for="profile-picture">Choose Profile Picture<span class="asteriskField">*</span></label>
        <input type="file" class="custom-file-input" name="profile_picture" accept="image/*" 
            id="profile-picture" value="{{profile_picture}}" required/>
    </div>
</div>
<div class="form-group">
    <div id="id_checkbox_update" class="form-check"> 
        <label for="checkbox_update" class="form-check-label requiredField">
            <input type="checkbox" name="checkbox_update" class="checkboxinput form-check-input" 
                id="checkbox_update" required/>
            I will update my information at regular intervals and will engage in the Alumni network
            actively.<span class="asteriskField">*</span> 
        </label> 
    </div>
</div>
<button type="submit" class="btn btn-primary">Submit</button>