{% load static %}

<!-- Footer -->
<section id="contact" class="text-white bg-dark">
        <div class="container">
        <div class="row font-open-sans">

            <div class="col-lg-3 text-white text-left">
            <h6 class="title text-uppercase border-bottom p-3" style="padding-left:0px !important">About</h6>
            <br>
            <ul class="list-unstyled">
                <li><a href="http://www.iiitdmj.ac.in/">Home</a></li>
                <li><a href="http://faculty.iiitdmj.ac.in/" target="_blank">Faculty</a></li>
                <li><a href="http://pbi.iiitdmj.ac.in/">PBI</a></li>
                <li><a href="http://www.iiitdmj.ac.in/rti.php">RTI</a></li>
                <li><a href="../site.iiitdmj.ac.in/download/IIIT%20Act%2030_of_2014.pdf">IIIT Act</a></li>
                <li><a href="http://www.iiitdmj.ac.in/maps_direction.php">Maps &amp; Directions</a></li>
                <li><a href="../site.iiitdmj.ac.in/download/taxi%20services.pdf">Taxi Services</a></li>
            </ul>
            </div>
            <div class="col-lg-3 text-white text-left">
            <h6 class="title text-uppercase border-bottom p-3" style="padding-left:0px !important">Important Links</h6>
            <br>
            <ul class="list-unstyled">
                <li><a href="http://www.iiitdmj.ac.in/academics/calendar.php#acad_cal">Academic Calendar</a></li>
                <li><a href="http://ict.iiitdmj.ac.in/index.html">Electronics and ICT Academy</a></li>
                <li><a href="http://efee.iiitdmj.ac.in/efee/">On Line Fee Payment</a></li>
                <li><a href="http://www.iiitdmj.ac.in/hindi.php">Hindi Notice Board</a></li>
                <li><a href="http://www.iiitdmj.ac.in/annual_report.php">Annual Report</a></li>
                <li><a href="http://www.iiitdmj.ac.in/annual_account.php">Annual Account</a></li>
                <li><a href="http://community.worldlibrary.in/?Affiliatikey=NDL-ZY1239" target="_blank">World e-book library</a></li>
                <li><a href="http://cec.nic.in/Pages/Home.aspx" target="_blank">Consortium for Educational Communication(CEC)</a></li>
            </ul>
            </div>
            <div class="col-lg-3 text-white text-left">
            <h6 class="title text-uppercase border-bottom p-3" style="padding-left:0px !important">Others</h6>
            <br>
            <ul class="list-unstyled">
                <li><a href="http://site.iiitdmj.ac.in/STSCCell/">SC/ST and Minority Cell</a></li>
                <li><a href="http://site.iiitdmj.ac.in/womencell/index.html">Women Cell</a></li>
                <li><a href="http://revista.iiitdmj.ac.in/">Revista</a></li>
                <li><a href="http://www.iiitdmj.ac.in/contact.php">Contacts</a></li>
                <li><a href="http://site.iiitdmj.ac.in/tenders.html">Tenders</a></li>
                <li><a href="http://site.iiitdmj.ac.in/home.html">Jobs</a></li>
                <li><a href="http://rajbhasha.iiitdmj.ac.in/" target="_blank">Sansthan Rajbhasha Vibhag</a></li>
                <li><a href="../web.iiitdmj.ac.in/download/notifications/List%20of%20Institute%20closed%20holidays%20for%20the%20calender%20year%202017.pdf">Closed Holiday 2017 </a></li>
                <li><a href="../web.iiitdmj.ac.in/download/notifications/List%20of%20Institute%20restricted%20holidays%20for%20the%20calender%20year%202017.pdf">Restricted Holiday 2017 </a></li>
            </ul>
            </div>
            <div class="col-lg-3 text-white text-left">
            <h6 class="title text-uppercase border-bottom p-3" style="padding-left:0px !important">Contact Us</h6>
            <br>
            <ul class="list-unstyled">
                <li><a href="#">Indian Institute of Information Technology Design & Manufacturing Jabalpur</a></li>
                <li><a href="#">Dumna Airport Road, Dumna - 482005</a></li>
            </ul>
            <ul class="list-unstyled">
                <li><a href="../www.iiitdmj.ac.in/downloads/IIITDMJ%20Telephone%20Directory.pdf" target="_blank">Phone Directory</a></li>
            </ul>
            </div>

        </div>
        </div>
    </section>
