{% load static %}

<!-- Footer -->
<section id="contact" class="text-white bg-dark">
        <div class="container">
        <div class="row font-open-sans">

            <div class="col-lg-3 text-white text-left">
            <h6 class="title text-uppercase border-bottom p-3" style="padding-left:0px !important">About</h6>
            <br>
            <ul class="list-unstyled">
                <li><a href="http://www.iiitdmj.ac.in/" target="_blank">Home</a></li>
                <li><a href="http://faculty.iiitdmj.ac.in/" target="_blank">Faculty</a></li>
                <li><a href="http://pbi.iiitdmj.ac.in/" target="_blank">PBI</a></li>
                <li><a href="http://www.iiitdmj.ac.in/rti.php" target="_blank">RTI</a></li>
                <li><a href="http://site.iiitdmj.ac.in/download/IIIT%20Act%2030_of_2014.pdf" target="_blank">IIIT Act</a></li>
                <li><a href="http://www.iiitdmj.ac.in/maps_direction.php" target="_blank">Maps &amp; Directions</a></li>
                <li><a href="http://site.iiitdmj.ac.in/download/taxi%20services.pdf" target="_blank">Taxi Services</a></li>
            </ul>
            </div>
            <div class="col-lg-3 text-white text-left">
            <h6 class="title text-uppercase border-bottom p-3" style="padding-left:0px !important">Important Links</h6>
            <br>
            <ul class="list-unstyled">
                <li><a href="http://www.iiitdmj.ac.in/academics/calendar.php#acad_cal" target="_blank">Academic Calendar</a></li>
                <li><a href="http://ict.iiitdmj.ac.in/index.html" target="_blank">Electronics and ICT Academy</a></li>
                <li><a href="http://efee.iiitdmj.ac.in/efee/" target="_blank">On Line Fee Payment</a></li>
                <li><a href="http://www.iiitdmj.ac.in/hindi.php" target="_blank">Hindi Notice Board</a></li>
                <li><a href="http://www.iiitdmj.ac.in/annual_report.php" target="_blank">Annual Report</a></li>
                <li><a href="http://www.iiitdmj.ac.in/annual_account.php" target="_blank">Annual Account</a></li>
                <li><a href="http://community.worldlibrary.in/?Affiliatikey=NDL-ZY1239" target="_blank">World e-book library</a></li>
                <li><a href="http://cec.nic.in/Pages/Home.aspx" target="_blank">Consortium for Educational Communication(CEC)</a></li>
            </ul>
            </div>
            <div class="col-lg-3 text-white text-left">
            <h6 class="title text-uppercase border-bottom p-3" style="padding-left:0px !important">Others</h6>
            <br>
            <ul class="list-unstyled">
                <li><a href="http://site.iiitdmj.ac.in/STSCCell/" target="_blank">SC/ST and Minority Cell</a></li>
                <li><a href="http://site.iiitdmj.ac.in/womencell/index.html" target="_blank">Women Cell</a></li>
                <li><a href="http://revista.iiitdmj.ac.in/" target="_blank">Revista</a></li>
                <li><a href="http://www.iiitdmj.ac.in/contact.php" target="_blank">Contacts</a></li>
                <li><a href="http://site.iiitdmj.ac.in/tenders.html" target="_blank">Tenders</a></li>
                <li><a href="http://site.iiitdmj.ac.in/home.html" target="_blank">Jobs</a></li>
                <li><a href="http://rajbhasha.iiitdmj.ac.in/" target="_blank">Sansthan Rajbhasha Vibhag</a></li>
                <li><a href="http://web.iiitdmj.ac.in/download/notifications/List%20of%20Institute%20closed%20holidays%20for%20the%20calender%20year%202017.pdf" target="_blank">Closed Holiday 2017 </a></li>
                <li><a href="http://web.iiitdmj.ac.in/download/notifications/List%20of%20Institute%20restricted%20holidays%20for%20the%20calender%20year%202017.pdf" target="_blank">Restricted Holiday 2017 </a></li>
            </ul>
            </div>
            <div class="col-lg-3 text-white text-left">
            <h6 class="title text-uppercase border-bottom p-3" style="padding-left:0px !important">Contact Us</h6>
            <br>
            <ul class="list-unstyled">
                <li>Indian Institute of Information Technology Design & Manufacturing Jabalpur</li>
                <li>Dumna Airport Road, Dumna - 482005</li>
            </ul>
            <ul class="list-unstyled">
                <li><a href="http://www.iiitdmj.ac.in/downloads/IIITDMJ%20Telephone%20Directory.pdf" target="_blank">Phone Directory</a></li>
            </ul>
            </div>

        </div>
        </div>
    </section>
