{% load static %}

<!-- Footer -->
<section id="contact" class="text-white bg-dark p-4">
    <div class="container">
        <div class="row font-open-sans">

            <div class="col-lg-4 text-white text-left">
            <h6 class="title text-uppercase border-bottom p-3" style="padding-left:0px !important">About</h6>
            <br>
            <ul class="list-unstyled">
                <li><a href="http://www.iiitdmj.ac.in/" target="_blank">IIITDMJ Home</a></li>
                <li><a href="{% url 'members:sacbody' %}" target="_blank">Alumni Cell IIITDMJ</a></li>    
                <li><a href="http://faculty.iiitdmj.ac.in/" target="_blank">Faculty</a></li>
                <li><a href="http://pbi.iiitdmj.ac.in/" target="_blank">PBI</a></li>
                <li><a href="http://site.iiitdmj.ac.in/download/IIIT%20Act%2030_of_2014.pdf" target="_blank">IIIT Act</a></li>
                <li><a href="http://www.iiitdmj.ac.in/maps_direction.php" target="_blank">Maps &amp; Directions</a></li>
            </ul>
            </div>
            <div class="col-lg-4 text-white text-left">
            <h6 class="title text-uppercase border-bottom p-3" style="padding-left:0px !important">Important Links</h6>
            <br>
            <ul class="list-unstyled">
                <li><a href="https://www.facebook.com/iiitdm.jbp/" target="_blank">IIITDMJ [Facebook]</a></li>
                <li><a href="https://www.linkedin.com/school/indian-institute-of-information-technology-design-and-manufacturing-jabalpur/" target="_blank">IIITDMJ [LinkedIn]</a></li>
                <li><a href="https://twitter.com/iiitdm" target="_blank">IIITDMJ [Twitter]</a></li>
                <li><a href="https://www.facebook.com/groups/iiitdmj/" target="_blank">IIITDMJ Alumni [Facebook]</a></li>
                <li><a href="https://www.facebook.com/iiitdmplacement/" target="_blank">Placement Cell [Facebook]</a></li>
                <li><a href="https://www.linkedin.com/in/placementiiitdmj/" target="_blank">Placement Cell [LinkedIn]</a></li>
                
            </ul>
            </div>
            
            <div class="col-lg-4 text-white text-left font-open-sans">
            <h6 class="title text-uppercase border-bottom p-3" style="padding-left:0px !important">Contact Us</h6>
            <br>
            <div>
                <div>
                    <b>
                    Prof. Puneet Tandon<br>Prof. In-Charge, Alumni Cell
                    </b>
                </div>
                <div class="icon-detail">
                    <i class="fas fa-phone-square"></i>
                    +91 9425324240 (Phone)
                </div>
                <div class="icon-detail">
                    <i class="fas fa-phone-square"></i>
                    +91 761 2794411 (Office)
                </div>
            </div>
            <div class="mt-3 pt-1">
                <div>
                    <b>
                    Mr. Omvir Singh Bhadauria<br>Assistant Registrar
                    </b>
                </div>
                <div class="icon-detail">
                    <i class="fas fa-phone-square"></i>
                    +91 761 2794143 (Office)
                </div>
            </div>

            <div class="mt-3 pt-1">
                <span>
                    PDPM Indian Institute of Information Technology Design & Manufacturing Jabalpur, Airport Rd, Khamaria, Dumna,
                    Madhya Pradesh 482005
                </span>
            </div>
            <div class="mt-3 pt-1">
                <span class="icon-detail">
                    <i class="far fa-envelope"></i>
                    <a class="text-white" href="mailto:alumni@iiitdmj.ac.in">alumni@iiitdmj.ac.in</a>
                </span>
            </div>
            <div>
                <span class="icon-detail">
                    <i class="fas fa-link"></i>
                    <a class="text-white" href="https://www.iiitdmj.ac.in" target="_blank">https://www.iiitdmj.ac.in/</a>
                </span>
            </div>
            </div>
            </div>

        </div>
    </div>
</section>
