{% load static %}

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top navbar-shrink" id="mainNav">
        <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="{% url 'home' %}">
            <img src="{% static "AluminiConnect/img/logo-min.png" %}" class="h-100" style="max-height:30px">
            Alumni Connect
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a href="{% url 'members:index' %}"  class="dropdown-toggle nav-link " data-toggle="dropdown">Directory&nbsp;<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'members:index' %}" class="dropdown-item">Yearbook</a></li>
                    <li><a href="{% url 'geolocation:index' %}" class="dropdown-item">Geolocation</a></li>
            
                    <!--
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    -->
                </ul>
                
            </li>
            <li class="nav-item dropdown">
                <a href="{% url 'events_news:events' %}"  class="dropdown-toggle nav-link " data-toggle="dropdown">Events&nbsp;<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'events_news:events' %}" class="dropdown-item">Alumni Events</a></li>
                    <li><a href="{% url 'news:index' %}" class="dropdown-item">Campus&nbsp;Feeds</a></li>
                    
                </ul>
                
            </li>
            <li class="nav-item dropdown">
                <a href="{% url 'members:index' %}"  class="dropdown-toggle nav-link " data-toggle="dropdown">Services&nbsp;<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="https://forms.gle/5AwdnQjyuwUp5K2h8/" target="_blank" class="dropdown-item">Alumni Card</a></li>
                    <li><a href="{% url 'awards:award' id=1 %}" class="dropdown-item">Young Achiever Award 2019</a></li>
                </ul>
                
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{% url 'publications:index' %}">Publications</a>
                <!--<div class="btn-group">
                    <button type="button" class="btn nav-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                        style="border-radius:0px;color:#212529;font-size: .9rem;">
                        Publications
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                        <div class="dropdown-divider"></div>%
                        <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                </div>-->
            </li>
            <!--
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="">Opportunities</a>
            </li>
            -->
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{% url 'gallery:gallery' %}">Gallery</a>
            </li>
            {% if not user.is_authenticated %}
            <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{% url 'login' %}">Login</a>
                </li>
            <li class="nav-item">
                <a class="btn btn-dark btn-xl js-scroll-trigger text-white" style="padding: .5rem 1rem;" href="{% url 'new_register' %}">Register</a>
            </li>
            {% else %}
            <li class="nav-item">
                {% if user.is_superuser %}
                <a class="nav-link" href="/admin/">Admin</a>
                {% else %}
                <a class="nav-link" href="{% url 'profile:profile' username=user.username %}">Profile</a>
                {% endif %}
            </li>
            <li class="nav-item">
                <a class="btn btn-dark btn-xl js-scroll-trigger text-white" style="padding: .5rem 1rem;" href="{% url 'logout' %}">Log&nbsp;Out</a>
            </li>
            {% endif %}
            </ul>
        </div>
        </div>
    </nav>