<div class="p-0 m-0 masthead-bg w-100 parallax shadow-sm" style="min-height:300px !important; height:300px !important; background-position-y: 300px;"></div>
    <!-- <div style="height:150px; min-height: 150px;"></div> -->

    <header class="masthead text-center text-white d-flex" style="height:0px; min-height:300px;">
        <div class="container my-auto" style="margin-bottom:50px !important;">
            <div class="row">
                <div class="col-lg-8 mx-auto align-middle">
                <h1 class="text-uppercase mt-4">
                    <strong>{{ heading }}</strong>
                </h1>
                </div>
            </div>
        </div>
    </header>

    <section id="services" class="bg-primary p-1">
    </section>