{% extends 'globals/base.html' %}
{% load static %}
{% load thumbnail %}

{% block title %} 
    {{ name }}
{% endblock %}

{% block body %}
  <!-- <body id="page-top" class="font-open-sans" style="background-color: #eaedf5"> -->
    {% include 'globals/navbar.html' %}

    <div class="p-0 m-0 masthead-bg w-100 parallax shadow-sm" style="min-height:250px !important; height:270px !important; background-position-y: 270px;"></div>
    <div style="height:150px; min-height:150px;"></div>

    <section class="bg-transparent" id="events" style="padding:3rem 0 5rem;">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 text-left p-2 mx-auto">

                    <!--   PROFILE PIC CARD  -->
                    <div class="card m-2 shadow-sm">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    {% if profile_picture %}
                                    <img src="{% thumbnail profile_picture 200x200 crop %}" 
                                        alt="DP" class="img-fluid rounded-circle m-2"
                                        style="object-fit:cover; object-position:50% 0%; height:200px; 
                                         width:200px; max-width:200px;max-height:200px;"
                                    />
                                    {% else %}
                                    <img src="{% static 'AlumniConnect/img/user.png' %}" 
                                        alt="DP" class="img-fluid rounded-circle m-2"
                                        style="height:200px;width:200px; max-width:200px;max-height:200px;"
                                    />
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 text-center font-open-sans">
                                    <h3>{{name}} </h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 text-center font-open-sans">
                                    <h4><span class="badge badge-pill badge-primary">{{programme}}. {{year_of_admission}} - {{batch_id}}, {{branch}}</span></h4>
                                </div>
                            </div>
                            
                            <br>
                            {% if user.is_authenticated and user.username == roll_no %}
                            
                            <div class="row">
                                <a href="{% url 'profileedit' id=user.username %}" class="col-lg-6 btn btn-outline-primary btn-sm">Edit Profile</a>
                                <a href="{% url 'change_password' %}" class="col-lg-6 btn btn-outline-primary btn-sm">Change Password</a>
                            </div>
                            
                            {% endif %}
                        </div>
                    </div>
                    {% if user.is_authenticated and user.username == roll_no %} <!-- CHANGE PERMISSIONS HERE LATER -->
                    <!--   CONTACT INFO  -->
                    <div class="card m-2 shadow-sm">
                        <div class="card-header font-open-sans">
                            Contact Information
                        </div>
                        <div class="card-body">
                            <p class="m-2 font-weight-normal font-open-sans mb-3">
                                <i class="fas fa-envelope"></i>
                                &nbsp;{{ email }}
                            </p>
                            <p class="m-2 font-weight-normal font-open-sans mb-3">
                                <i class="fas fa-map-marker-alt"></i>
                                &nbsp;{{ current_address }}
                            </p>
                            <p class="m-2 font-weight-normal font-open-sans  mb-3">
                                <i class="fas fa-phone "></i>
                                &nbsp;{{ mobile1 }}
                            </p>
                            {% if mobile2 %}
                            <p class="m-2 font-weight-normal font-open-sans  mb-3">
                                <i class="fas fa-phone "></i>
                                &nbsp;{{ mobile2 }}
                            </p>
                            {% endif %}
                            {% if phone_no %}
                            <p class="m-2 font-weight-normal font-open-sans  mb-3">
                                    <i class="fas fa-phone-square "></i>
                                    &nbsp;{{ phone_no }}
                            </p>
                            {% endif %}
                            
                        </div>
                        
                    </div>
                    {% endif %}
                    <!-- Expertise 
                    <div class="card m-2 shadow-sm">
                            <div class="card-header font-open-sans">
                                Expertise
                            </div>
                            <div class="card-body">
                                <p class="m-2 font-weight-normal font-open-sans mb-3">
                                    <i class="fas fa-bolt"></i>
                                    &nbsp;Skills : 
                                </p>
                            </div>
                    </div>
                    -->

                    <!-- Basic Info -->
                    <div class="card m-2 shadow-sm">
                            <div class="card-header font-open-sans">
                                Basic Info
                            </div>
                            <div class="card-body">
                                {% if user.is_authenticated and user.username == roll_no %}
                                    <p class="m-2 font-weight-normal font-open-sans mb-3" title="Alumni Registration Number">
                                        <i class="fas fa-user"></i>
                                        &nbsp;Alumni Reg. No. : <b>{{ reg_no }}</b>
                                    </p>
                                {% endif %}                                
                                <p class="m-2 font-weight-normal font-open-sans mb-3">
                                    <i class="fas fa-map-marker-alt"></i>
                                    &nbsp;{{ city }}, {{ state }}, {{ country }}
                                </p>
                                {% comment %}
                                <p class="m-2 font-weight-normal font-open-sans mb-3">
                                        <i class="fas fa-birthday-cake"></i>
                                        &nbsp;{{ date_of_birth|date:"d F, o" }}
                                    </p>
                                {% endcomment %}
                                <p class="m-2 font-weight-normal font-open-sans mb-3">
                                        <i class="fas fa-venus-mars"></i>
                                        &nbsp;{{ sex }}
                                    </p>
                                <h4>
                                    {% if linkedin %}
                                    <a href="{{ linkedin }}"><i class="fab fa-linkedin"></i></a>&nbsp;
                                    {% endif %}
                                    {% if facebook %}
                                    <a href="{{ facebook }}" ><i class="fab fa-facebook"></i></a>&nbsp;
                                    {% endif %}
                                    {% if instagram %}    
                                    <a href="https://www.instagram.com/{{ instagram }}"><i class="fab fa-instagram"></i></a>
                                    {% endif %} 
                                    {% if website %}    
                                    <a href="{{ website }}"><i class="fas fa-globe"></i></a>
                                    {% endif %}
                                </h4>
                            </div>
                            <!-- 
                            <div class="card-footer">
                                    <small class="font-open-sans">Last Visit on {{ user.last_login }}</small>
                                </div>
                            -->
                    </div>


                </div>
                <div class="col-lg-8 text-left p-2 mx-auto">

                    <!--   EDUCATION  -->
                    <div class="card m-2 shadow-sm">
                        <div class="card-header font-open-sans">
                            Education
                        </div>
                        <div class="card-body p-4 font-open-sans">
                            {% if current_course %} 
                            <h3>{{current_university}}</h3>
                            <h5>{{current_course}}
                            </h5><hr>   
                            {% endif %}
                            <h3>PDPM IIITDM Jabalpur</h3>
                            <h5>{{ programme }}, {{ year_of_admission }} - {{ batch_id }}, {{ branch }}
                            </h5>
                        </div>
                    </div>

                    <!--   Work Ex  -->
                    <div class="card m-2 shadow-sm">
                        <div class="card-header font-open-sans">
                            Work Experience
                        </div>
                        <div class="card-body p-4">    
                            <h3 class="font-open-sans">
                                {% if current_organisation %}
                                {{ current_organisation }}
                                {% else %}
                                None
                                {% endif %}
                            </h3>
                            <h5>{{current_position}}</h5>
                        </div>
                    </div>

                    <!--   Publications  -->
                    {% comment %}
                    <div class="card m-2 shadow-sm">
                            <div class="card-header font-open-sans">
                                Publications
                            </div>
                            <div class="card-body p-4">    
                                <h3 class="font-open-sans">
                                    {% if current_organisation %}
                                    {{ current_organisation }}
                                    {% else %}
                                    None
                                    {% endif %}
                                </h3>
                                <small class="font-open-sans">{{current_position}}</small>
                            </div>
                        </div>
                    {% endcomment %}


                </div>
            </div>
        </div>
    </section> 
    {% include 'globals/footer.html' %} 
{% endblock %}
</html>