<div class="mb-3 d-flex justify-content-evenly flex-sm-column flex-lg-row">
    <div class="mb-3 mx-1" style="flex: 1">
      <label for="reg-email" class="form-label">Registered email</label>
      <input type="email" class="form-control"  name="email" id="reg-email"
        aria-describedby="emailHelp" value="{{request.user.email}}" readonly/>
    </div>
  
    <div class="mb-3 mx-1" style="flex: 1">
      <label for="roll-no" class="form-label">Roll No</label>
      <input type="text" class="form-control"  name="roll_no" id="roll-no"
        aria-describedby="roll-no" value="{{request.user.username}}" readonly />
    </div>
  </div>
<div class="mb-3 d-flex justify-content-evenly flex-xs-column flex-sm-column flex-lg-row">
    <div class="mb-3 mx-1" style="flex: 1">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" required name="name" id="name" aria-describedby="name"
            placeholder="Enter your name" />
    </div>

    <div class="mb-3 mx-1" style="flex: 1">
        <label for="fathers-name" class="form-label">Father's Name</label>
        <input type="text" class="form-control" required name="fathers_name" id="fathers-name"
            aria-describedby="fathers-name" placeholder="Enter your father's name" />
    </div>
</div>

<div class="mb-3 d-flex flex-sm-column">
    <label class="mb-1" for="gender">Gender: </label>
    <div class="mt-0">
        <input type="radio" class="btn-check" name="sex" value="M" id="male" autocomplete="off" required />
        <label class="btn btn-sm btn-outline-secondary" for="male">Male</label>

        <input type="radio" class="btn-check" name="sex" value="F" id="female" autocomplete="off" required />
        <label class="btn btn-sm btn-outline-secondary" for="female">Female</label>

        <input type="radio" class="btn-check" name="sex" value="O" id="others" autocomplete="off" required />
        <label class="btn btn-sm btn-outline-secondary" for="others">Others</label>
    </div>
</div>

<div class="mb-3 d-flex justify-content-evenly flex-sm-column flex-lg-row">
    <div class="mb-3" style="flex: 1">
        <label for="spouse-name" class="form-label">Spouse's Name</label>
        <input type="text" class="form-control" name="spouse_name" id="spouse-name" aria-describedby="emailHelp"
            placeholder="Enter your Spouse's name" />
    </div>

    <div class="mb-3 mx-1" style="flex: 1">
        <label for="dob" class="form-label">Date of Birth</label>
        <div class="mb-3 w-auto">
            <input type="date" class="form-control" name="date_of_birth" id="dob" required>
        </div>
    </div>
</div>

<div class="mb-3 d-flex justify-content-evenly flex-sm-column flex-lg-row">
    <div class="mb-3" style="flex: 1">
        <label for="mobile-1" class="form-label">Mobile Number</label>
        <input type="number" minlength="10" class="form-control" name="mobile1" id="mobile-1"
            aria-describedby="emailHelp" required placeholder="Enter your mobile number" />
    </div>

    <div class="mb-3 mx-lg-1" style="flex: 1">
        <label for="mobile-2" class="form-label">Alternate Mobile Number</label>
        <input type="number" name="mobile2" minlength="10" class="form-control" id="mobile-2"
            aria-describedby="emailHelp" placeholder="Enter your alternate mobile number" />
    </div>
</div>

<div class="mb-3">
    <label for="alternate-email" class="form-label">Alternate Email address</label>
    <input type="email" class="form-control" name="alternate_email" id="alternate-email" aria-describedby="emailHelp"
        placeholder="Enter your alternate email address" />
</div>

<div class="mb-3">
    <label for="current-address" class="form-label">Current Address</label>
    <div class="">
        <textarea class="form-control col-lg-12" name="current_address" id="current-address" required></textarea>
    </div>
</div>
<div class="mb-3">
    <label for="permanent-address" class="form-label">Permanent Address</label>
    <div class="">
        <textarea class="form-control col-lg-12" name="permanent_address" id="permanent-address"></textarea>

    </div>
</div>

<div class="location mb-3 d-flex justify-content-evenly">
    <div class="mb-3 mx-1" style="flex: 1">
        <label for="countryId" class="form-label">Country</label>
        <select name="country" class="form-select countries order-alpha presel-IN custom-select"
            aria-label="Default select example" id="countryId">
        </select>
    </div>
    <div class="mb-3 mx-1 " style="flex: 1">
        <label for="stateId" class="form-label ">State</label>
        <select name="state" class="form-select states order-alpha custom-select" aria-label="Default select example"
            id="stateId">

        </select>
    </div>
    <div class="mb-3 mx-1" style="flex: 1">
        <label for="cityId" class="form-label">City</label>
        <select name="city" class="form-select cities order-alpha custom-select" aria-label="Default select example"
            id="cityId">

        </select>
    </div>

</div>
<div class="location mb-3 d-flex justify-content-evenly">
    <div class="mb-3 mx-1" style="flex: 1">
        <label for="branch" class="form-label">Branch</label>
        <select name="branch" class="form-select form-control" aria-label="Default select example" id="branch" required>
            {% for branch in branches %}
            <option value="{{branch.0}}">{{branch.1}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3 mx-1 " style="flex: 1">
        <label for="programme" class="form-label ">Programme</label>
        <select name="programme" class="form-select form-control" aria-label="Default select example" id="programme"
            required>
            {% for programme in programmes %}
            <option value="{{programme.0}}">{{programme.1}}</option>
            {% endfor %}
        </select>
    </div>
</div>

<div class="mb-3 d-flex">
    <div class="mb-3 mx-1" style="flex: 1">
        <label for="admission-year" class="form-label">Year of Admission</label>
        <select name="year_of_admission" class="form-select form-control" aria-label="Default select example"
            id="admission-year" required>
            {% for year in year_of_admission %}
            <option value="{{year.0}}">{{year.1}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3 mx-1" style="flex: 1">
        <label for="batch-year" class="form-label">Year of Passing</label>
        <select name="batch" class="form-select form-control" aria-label="Default select example" id="batch-year"
            required>
            {% for batch in batch_year %}
            <option value="{{batch.batch}}">{{batch.batch}}</option>
            {% endfor %}
        </select>
    </div>
</div>


<div class="mb-3">
    <div class="mt-3 d-flex flex-lg-column">
        <label class="mb-3" for="working_status">Working Status: </label>
        <div>
            <input type="radio" class="btn-check" name="working_status" value="Is Working" id="status1"
                autocomplete="off" required />
            <label class="btn btn-sm btn-outline-secondary" for="status1">Is Working
            </label>

            <input type="radio" class="btn-check" name="working_status" value="Is Pursuing Higher Studies" id="status2"
                autocomplete="off" required />
            <label class="btn btn-sm btn-outline-secondary" for="status2">Is Pursuing Higher Studies
            </label>

            <input type="radio" class="btn-check" name="working_status" value="Is Self Employed" id="status3"
                autocomplete="off" required />
            <label class="btn btn-sm btn-outline-secondary" for="status3">Is Self Employed
            </label>

            <input type="radio" class="btn-check" name="working_status" value="Student" id="status4"
                autocomplete="off" required />
            <label class="btn btn-sm btn-outline-secondary" for="status4">Student
            </label>
        </div>
    </div>

    <div class="form-row">
        <div class="mb-3 d-flex justify-content-evenly flex-sm-column flex-lg-row">
            <div id="cur_org" style="flex: 1">
                <div class="mb-3 mx-1" style="flex: 1">
                    <label for="current-org" class="form-label">Current Organisation</label>
                    <input type="text" class="form-control" name="current_organisation" id="current-org"
                        aria-describedby="emailHelp" placeholder="Enter Organisation Name " />
                </div>
            </div>
            <div id="cur_pos" style="flex: 1">
                <div class="mb-3 mx-1" style="flex: 1">
                    <label for="curr-pos" class="form-label">Current Position</label>
                    <input type="text" class="form-control" name="current_position" id="curr-pos"
                        aria-describedby="emailHelp" placeholder="Enter Position " />
                </div>
            </div>
        </div>

        <div class="mb-3 d-flex justify-content-evenly flex-sm-column flex-lg-row">
            <div id="cur_uni" style="flex: 1">
                <div class="mb-3 mx-1" style="flex: 1">
                    <label for="current-uni" class="form-label">Current University</label>
                    <input type="text" class="form-control" name="current_university" id="current-uni"
                        aria-describedby="emailHelp" placeholder="Enter University Name" />
                </div>
            </div>
            <div id="cur_course" style="flex: 1">
                <div class="mb-3 mx-1" style="flex: 1">
                    <label for="curr-course" class="form-label">Course</label>
                    <input type="text" class="form-control" name="current_course" id="curr-course"
                        aria-describedby="emailHelp" placeholder="Enter Course " />
                </div>
            </div>
        </div>

        <div class="mb-3 d-flex justify-content-evenly flex-sm-column flex-lg-row">
            <div id="date_of_joining" style="flex: 1">
                <div class="mb-3 mx-1" style="flex: 1">
                    <label for="date-of-joining" class="form-label">Date of Joining</label>
                    <div class="mb-3 w-auto">
                        <input type="date" class="form-control" name="date_of_joining" id="date-of-joining">
                    </div>
                </div>
            </div>
            <div id="past_experience" style="flex: 1">
                <div class="mb-3 mx-1" style="flex: 1">
                    <label for="past-exp" class="form-label">Past Experience</label>
                    <input type="number" placeholder="Experience (in years)" class="form-control" name="past_experience"
                        id="past-exp">
                </div>
            </div>
        </div>

    </div>
</div>


<div class="social mb-3 d-flex flex-sm-column flex-lg-row">
    <div class="mb-3" style="flex: 1">
        <div class="mb-3 mx-1">
            <label for="linkedin" class="form-label">LinkedIn</label>
            <input type="url" class="form-control" name="linkedin" required id="linkedin"
                aria-describedby="emailHelp" placeholder="Enter your LinkedIn url" />
        </div>
        <div class="mb-3 mx-1">
            <label for="facebook" class="form-label">Facebook</label>
            <input type="url" class="form-control" name="facebook" id="facebook" aria-describedby="emailHelp"
                placeholder="Enter your Facebook profile link" />
        </div>
    </div>
    <div class="mb-3" style="flex: 1">
        <div class="mb-3 mx-1">
            <label for="instagram" class="form-label">Instagram</label>
            <input type="url" class="form-control" name="instagram" id="instagram" aria-describedby="emailHelp"
                placeholder="Enter your Instagram profile link" />
        </div>
        <div class="mb-3 mx-1">
            <label for="website" class="form-label">Website</label>
            <input type="url" class="form-control" name="website" id="website" aria-describedby="emailHelp"
                placeholder="Enter your personal portfolio website" />
        </div>
    </div>
</div>

<div class="input-group mb-3">

    <div class="custom-file">
        <label class="custom-file-label" for="profile-picture">Choose Profile Picture</label>
        <input type="file" class="custom-file-input" name="profile_picture" accept="image/*" required=""
            id="profile-picture">
    </div>
</div>
<div class="form-group">
    <div id="id_checkbox_update" class="form-check"> 
        <label for="checkbox_update" class="form-check-label requiredField">
            <input type="checkbox" name="checkbox_update" class="checkboxinput form-check-input" required=""
                id="checkbox_update">
            I will update my information at regular intervals and will engage in the Alumni network
            actively.<span class="asteriskField">*</span> 
        </label> 
    </div>
</div>
<button type="submit" class="btn btn-primary">Submit</button>