.dpg-album-card-image {
    height:225px;
}
  
.dpg-album-card, .dpg-album-image {
    max-width:300px;
}

.home-card-img{
    height: 275px;
}

@media (max-width: 1200px) {
    .home-card-img {
        height: 250px;
    }
}

@media (max-width: 576px) {
    .home-card-img {
        height: auto;
        max-height: 250px;
    }
}

@media (max-width: 400px) {
    .dpg-album-image {
        max-width: 100%;
    }
}


/* CSS for MastHead-BG */

.masthead-bg{
    background-repeat: repeat-y;
    background-position-y: 300px;
}


/* Custom CSS for login.html */

.login-container{
    width: 45rem;
}

@media (max-width: 576px) {
    .login-container{
        width: 95%;
    }
}

@media (max-width: 400px) {
    .login-container{
        width: 100%;
    }
}


/* Custom CSS for Events Page */

.events-container{
    width: 70rem;
}

.events-container .card-footer{
    display: none;
}

@media (max-width: 991px) {
    .events-container .card-block .card-link {
        display: none;
    }
    .events-container .card-footer{
        display: block;
    }
}

@media (max-width: 576px) {
    .events-container{
        width: 95%;
    }
}

@media (max-width: 400px) {
    .events-container{
        width: 100%;
    }
}


/* Custom CSS for Members Pages */

.members-shadow-on-hover > div{
    box-shadow:0 0.5rem 2rem rgba(0,0,0,.175);
}

.members-shadow-on-hover > div:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (max-width: 576px) {
    .members-container{
        width: 95%;
    }
}


/* Custom CSS for Crispy Forms */

.asteriskField{
    color: red;
    font-size: small;
    vertical-align: top;
}

.icon-detail {
    margin-right: 12px;
}


/* Additional Bootstrap Features */

.stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: auto;
    content: "";
    background-color: rgba(0, 0, 0, 0);
  }

.publication-iframe {
    width: 100%; 
    height: 90vh; 
    min-height: 200px; 
    max-height: 1000px; 
    border: none; 
    background: #d1d1d1 url('../img/throbber.gif');
    background-repeat: no-repeat; 
    background-size:  initial; 
    background-position: center;
}