{% extends 'globals/base.html' %}
{% load static %}
{% block css%}
<style>
    .constitution{
        text-align:center;
    }
    .constitutionContainer{
        width:800px;
        height:800px;
    }
    @media (max-width: 768px) {
        .constitutionContainer {
            width: 90%;
            height: 400px;
        }
    }
</style>
{%endblock%}
{% block title %}
    Events
{% endblock %}

{% block body %}
    {% include 'globals/navbar.html' %}
    <div class="p-0 m-0 masthead-bg w-100 parallax shadow-sm" style="min-height:300px !important; height:300px !important; background-position-y: 300px;"></div>
    <!-- <div style="height:150px; min-height: 150px;"></div> -->

    <header class="masthead text-center text-white d-flex" style="height:0px; min-height:300px;">
        <div class="container my-auto" style="margin-bottom:50px !important;">
            <div class="row">
                <div class="col-lg-8 mx-auto align-middle">
                <h1 class="text-uppercase mt-4">
                    <strong>EVENTS</strong>
                </h1>
                </div>
            </div>
        </div>
    </header>
      
    <section id="services" class="bg-primary p-1">
    </section>
    <section id="constitution" class="constitution text-center p-3">
        <h1 class="section-title text-center">Minutes of Meeting - Alumni Meet 2022 </h1>
        <iframe src="{% static 'AlumniConnect/assets/minutes_of_meeting_2022.pdf' %}" class="constitutionContainer"></iframe>
    </section>
    <div class="events-container container text-left p-2 mx-auto my-4">
        {% for item in events %}
            <div class="card shadow bg-light m-4">
                <span class="">
                <div class="row no-gutters p-3">
                    <div class="col-auto mx-auto p-1 pb-3 pb-lg-1">
                        {% if item.picture %}
                        <img src="{{ item.picture.url }}" alt="" height= 200px width= 200px>
                        {% else %}
                        <img src="{% static 'AlumniConnect/img/event.png' %}" alt="" height= 200px width= 200px>
                        {% endif %}
                    </div>
                    
                    <div class="col-lg-9">
                        <div class="card-block px-2">
                            <h2 class="card-title">{{item.title|safe}}</h2>
                            <!-- <p class="m-2 font-weight-normal mb-3"> -->
                            <p class="m-2 font-weight-normal mb-3">
                                <h5>
                                    {% if not item.is_completed %}
                                    <span class="badge badge-pill badge-success"> Upcoming </span>
                                    {% else %}
                                    <span class="badge badge-pill badge-secondary"> Past </span>
                                    {% endif %}
                                    <span class="badge badge-pill badge-dark"> Attendees : {{ item.attendees__user_id__count }} </span>
                                </h5>
                                    
                                <p class="m-1 mt-3">
                                    <i class="fas fa-table mr-2"></i>
                                    {{ item.start_date|date:"d F, o" }}
                                </p>
                                <p class="m-1">
                                    <i class="fas fa-map-marker-alt mr-2"></i>&nbsp;
                                    {{ item.location}}
                                </p>
                                <p class="m-1">
                                    <i class="fas fa-user mr-2"></i>
                                    {{ item.by }}
                                </p>  
                            </p>
                            <a href="{% url 'events_news:event' id=item.event_id %}" class="btn btn-primary btn-sm card-link px-4 py-2">View</a>
                        </div>
                        <div class="card-footer text-center m-n3">
                            <a href="{% url 'events_news:event' id=item.event_id %}" class="btn btn-primary btn-sm card-link px-4 py-2">View</a>
                        </div>
                        <div class="w-100"></div>
                                
                    </div>
                </div>
                <!-- Footer 
                    <div class="card-footer w-100 text-muted">
                        Footer stating cats are CUTE little animals
                    </div>
                -->
            </div>
            {% endfor %}
        </span>
        </div>
    {% include 'globals/footer.html' %}
{% endblock %}