{% autoescape off %}
Dear Alumni, 

If you have initiated a password reset process for your account, kindly proceed, else please ignore this email.
To initiate the password reset process for your SAC IIITDMJ Portal Account,

Login ID - {{ user.get_username }}
Click the link below:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

If clicking the link above doesn't work, please copy and paste the URL in a new browser
window instead.

Sincerely,
The SAC Team
{% endautoescape %}