{% extends 'globals/base.html' %}
{% load crispy_forms_tags %}
{% load static %}



{% block title %}
AlumniConnect - Reset Password
{% endblock %}

{% block body %}
{% include 'globals/navbar.html' %}
<div class="p-0 m-0 masthead-bg w-100 h-100 parallax" style="min-height:300px !important; height:300px !important; background-position-y: 300px;"></div>

<header class="masthead text-center text-white d-flex" style="height:0px; min-height:300px;">
    <div class="container my-auto" style="margin-bottom:50px !important;">
        <div class="row">
            <div class="col-lg-2 mx-auto align-middle">
                <h2 class="text-uppercase">
                    <a href="{% url 'home' %}"><img src="{% static 'AluminiConnect/img/logo/alumb1.png' %}" style="width: 4em; height: auto;"></a>
                </h2>
            </div>
            <div class="col-lg-8 mx-auto align-middle">
                <h1 class="text-uppercase mt-4">
                    <strong>STUDENT ALUMNI CELL</strong>
                </h1>
            </div>
        </div>
    </div>
</header>

<section id="services" class="bg-primary p-1">
</section>

<div class="bg-white">
    <div class="login-container container text-left p-2 mx-auto">
        <div class="card shadow m-4 bg-light">
            <div class="col-lg-12 mx-auto">
                <div class="row text-center">
                    <div class="col-lg-12 text-primary pt-4 mt-4">
                        <h2>Reset Password</h2>
                        <hr class="mb-4">
                    </div>
                </div>
                <div class="row text-left mb-4 py-3 justify-content-center">
                    <div class="col-sm-11 col-md-10 col-lg-9">
                        {% if validlink %}
                        <form method="post" class="font-open-sans">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <div class="text-center">
                                <button class="btn btn-primary px-4 py-2 mt-2" type="submit">Reset Password</button>
                            </div>
                        </form>
                        {% else %}
                        <p>
                            The password reset link was invalid, possibly because it has already been used.
                            Please request a new password reset link.<br><br>
                            <a href="{% url 'password_reset' %}" class="mx-auto">Reset Password</a>
                        </p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'globals/footer.html' %}
{% endblock %}