{% extends 'globals/base.html' %}
{% load static %}

{% block title %}
Post
{% endblock %}

{% block css %}
<style type="text/css">
  .detail{
  font-size: 12px;
}
  input{
    border-width: 0 !important;
    border-bottom-width: 2px !important;
    border-radius: 0 !important;
  }

  input:focus{
    box-shadow: none !important;
  }
</style>
{% endblock %}
{% block body %}
{% include 'globals/navbar.html' %}
{% include 'globals/theme.html' with heading='Post' %}
<br>
<br>

<center>
  <a href="{% url 'jobs:index' %}">&laquo; Go back to opportunities.</a>
  
  <div class="container text-left mt-5 pt-4 shadow" >
    
      <div class="row justify-content-center mb-2">
          <div class="btn btn-primary">Post a new Job here!</div>
      </div>

      <form name = "new_post" action = "{% url 'jobs:new_post' %}" method = "POST">{% csrf_token %}

        <div class="row">
          <div class="m-4 col-sm-5">
            <label for="type">Type:</label>
            <select required class="form-control" name="type" id="type">
              <option disabled selected value> -- select an option -- </option>
              <option value="Internship">Internship</option>
              <option value="Full time">Full Time</option>
              <option value="Both">Both</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="m-4 col-sm-5">
            <label for="position">Position:</label>
            <select required class='form-control' name="position" id="position" onchange='CheckColors(this.value);'>
              <option disabled selected value> -- select an option -- </option>
              <option value="Software Developer">Software Developer</option>
              <!-- <option value="Backend Developer">Backend Developer</option>
                <option value="Frontend Developer">Frontend Developer</option> -->
                <option value="Data Engineer">Data Engineer</option>
                <option value="Android">Android</option>
                <option value="IoS">IoS</option>
                <option value="Software Engineer">Software Engineer</option>
                <option value="Data Analytics">Data Analytics</option>
                <option value="Data Science">Data Science</option>
                <option value="Machine Learning">Machine Learning</option>
                <option value="Business Development">Business Development</option>
                <option value="Research">Research</option>
                <option value="Blockchain">Blockchain</option>
                <option value="UI/UX Designer">UI/UX Designer</option>
                <option value="Marketing and Sales">Marketing and Sales</option>
                <option value="Other">Other</option>
            </select>
          </div>
        
          <div class="m-4 col-sm-5">
            <label for="company">Company:</label>
            <input required class="form-control" type="text" name="company" id='company'>
          </div>
        </div>

        <div class="row">
          <div class="m-4 col-sm-7">
           <label for="desc">Description: <p id="others" style='display:none;'>(Please specify the Job title in Description)</p></label>
           <textarea class="form-control" rows="4" cols="50" name="desc" form="new_post" id='desc'>
           </textarea>
          </div>
        </div>

        <div class="row">
          <div class="m-4 col">
            <label for="stipend">Stipend <a class="detail">(Per Month)</a> :</label>
            <p class="detail">Left blank if not appicable</p>
            <input class="form-control" type="number" name="stipend" id='stipend'>
          </div>

          <div class="m-4 col">
            <label for="tenure">Tenure <a class="detail">(In Months)</a> </label>
            <p class="detail">Left blank if not appicable</p>
            <input class="form-control" type="number" name="tenure" id='tenure'>
          </div>
          
          <div class="my-4 ml-4 col">
            <label for="exp_req">Min. Exp. <a class="detail">(In years)</a> :</label>
            <p class="detail">Left blank if not appicable</p>
            <input class="form-control" type="number" name="exp_req" id='exp_req'>
          </div>
        </div>

        <div class="row">
          <div class="m-4 col-sm-4">
            <label for="location">Location:</label>
            <input required class="form-control" type="text" name="location" id='location'>
          </div>

          <div class="m-4 col-sm-4">
            <label for="link">Apply Link:</label>
            <input required class="form-control" type="text" name="link" id='link' class="border-0">
          </div>
        </div>

        <div class="row mb-2">
          <div class="m-4 col-sm-4">
            <label for="last_date">Last Date</label>
            <input required class="form-control" type="date" name="last_date" id='last_date'>
          </div>

          <div class="m-4 col-sm-4">
            <label for="join_date">Joining Date</label>
            <input required class="form-control" type="date" name="join_date" id='join_date'>
          </div>
        </div>

        <!-- <div class="m-4" id="others" style='display:none;'>
             <label for="others">Please Specify</label>
             <input required class="form-control" type="text" name="other" id="others"/>
        </div> -->

        <div class="row justify-content-center">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>

      </form>
  </div>
</center>

 {% endblock %}