{% extends 'globals/base.html' %}
{% load static %}

{% block title %}
    Post
{% endblock %}

{% block css %}
    <style type="text/css">
        .detail {
            font-size: 12px;
        }
    </style>
{% endblock %}

{% block body %}
    {% include 'globals/navbar.html' %}
    {% include 'globals/theme.html' with heading='Add Job' %}
    <br>
    <br>

    <section style="padding:0 0 4rem;">
        <div class="container text-center p-0">
            <div class="row">
                <div class="col">
                    <a href="{% url 'jobs:index' %}" class="btn btn-dark btn-outline-primary m-3 text-white">
                        <i class="fa fa-arrow-left mr-2" style="color:inherit !important"
                           aria-hidden="true"></i>
                        Go back to job opportunities
                    </a>
                </div>
            </div>
        </div>

        <div class="container text-left mt-5 pt-4 shadow-lg rounded">
            <form name="new_post" action="{% url 'jobs:post' %}" method="POST">{% csrf_token %}

                <div class="row m-4">
                    <div class="col text-center">
                        <span class="mx-auto text-uppercase h3"><strong>Post a new job here !</strong></span><br>
                    </div>
                </div>

                <div class="row m-4">
                    <div class="mx-auto col-sm-5">
                        <label for="type">Type <span class="text-danger">*</span>:</label>
                        <select required class="form-control" name="type" id="type">
                            <option disabled selected value> -- select an option --</option>
                            <option value="Internship">Internship</option>
                            <option value="Full Time">Full Time</option>
                            <option value="Both">Both</option>
                        </select>
                    </div>

                    <div class="mx-auto col-sm-5">
                        <label for="position">Position <span class="text-danger">*</span>:</label>
                        <select required class='form-control' name="position" id="position">
                            <option disabled selected value> -- select an option --</option>
                            <option value="Software Developer">Software Developer</option>
                            <option value="Data Engineer">Data Engineer</option>
                            <option value="Android">Android</option>
                            <option value="IoS">IoS</option>
                            <option value="Software Engineer">Software Engineer</option>
                            <option value="Data Analytics">Data Analytics</option>
                            <option value="Data Science">Data Science</option>
                            <option value="Machine Learning">Machine Learning</option>
                            <option value="Business Development">Business Development</option>
                            <option value="Research">Research</option>
                            <option value="Blockchain">Blockchain</option>
                            <option value="UI/UX Designer">UI/UX Designer</option>
                            <option value="Marketing and Sales">Marketing and Sales</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                </div>

                <div class="row m-4">
                    <div class="mx-auto col-sm-5">
                        <label for="company">Company <span class="text-danger">*</span>:</label>
                        <input required class="form-control" type="text" name="company" id='company'>
                    </div>

                    <div class="mx-auto col-sm-5">
                        <label for="location">Location <span class="text-danger">*</span>:</label>
                        <input required class="form-control" type="text" name="location" id='location'>
                    </div>
                </div>

                <div class="row m-4">
                    <div class="mx-auto col-sm-10">
                        <label for="link">Link to apply <span class="text-danger">*</span>:</label>
                        <input required class="form-control" type=text name="link" id='link'>
                    </div>
                </div>

                <div class="row m-4">
                    <div class="mx-auto col-sm-10">
                        <label for="desc">Job description:</label>
                        <textarea class="form-control" rows="4" cols="50" name="desc" form="new_post" id='desc'>
                        </textarea>
                    </div>
                </div>

                <div class="row m-4">
                    <div class="mx-auto col-3">
                        <label for="stipend">Stipend <a class="detail">(Per Month)</a>:</label>
                        <input class="form-control" type="number" name="stipend" id='stipend'>
                    </div>

                    <div class="mx-auto col-3">
                        <label for="tenure">Tenure <a class="detail">(In Months)</a>:</label>
                        <input class="form-control" type="number" name="tenure" id='tenure'>
                    </div>

                    <div class="mx-auto col-3">
                        <label for="exp_req">Min. Experience <a class="detail">(In years)</a>:</label>
                        <input class="form-control" type="number" name="exp_req" id='exp_req'>
                    </div>
                </div>

                <div class="row m-4">
                    <div class="mx-auto col-sm-5">
                        <label for="last_date">Last Date to apply:</label>
                        <input class="form-control" type="date" name="last_date" id='last_date'>
                    </div>

                    <div class="mx-auto col-sm-5">
                        <label for="join_date">Joining date:</label>
                        <input class="form-control" type="date" name="join_date" id='join_date'>
                    </div>
                </div>

                <div class="row p-4">
                    <div class="mx-auto text-center col-4">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>

            </form>
        </div>
    </section>


    {% include 'globals/footer.html' %}
{% endblock %}
