{% extends 'globals/base.html' %}
{% load static %}

{% block title %}
Publications
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'external/photoswipe/photoswipe.css' %}">
<link rel="stylesheet" href="{% static 'external/photoswipe/default-skin/default-skin.css' %}">
{% endblock %}

{% block body %}
{% include 'globals/navbar.html' %}
<div class="p-0 m-0 masthead-bg w-100 h-100 parallax"></div>

<header class="masthead text-center text-white d-flex" style="height:0px;min-height:300px">
  <div class="container my-auto" style="margin-bottom:50px !important;">
    <div class="row">
      <div class="col-lg-8 mx-auto align-middle">
        <h1 class="text-uppercase mt-4">
          <strong>PUBLICATIONS</strong>
        </h1>
      </div>
    </div>
  </div>
</header>


<section class="bg-white" id="about" style="padding: 5rem 0;">


  {% if publication.is_visible %}
  <div class="container font-open-sans">
    <h1>{{ publication.title|safe }}</h1>
    <div>
      <span class="icon-detail"><i class="far fa-calendar-check"></i>
        <time datetime="{{ publication.created|date:'Y-m-d' }}">{{ publication.created|date:"d M, Y" }}</time>
      </span>
      <span class="icon-detail"><i class="fas fa-user"></i>
        {{ publication.by|safe|striptags }}
      </span>
    </div>
    <p>{{ publication.description|safe }}</p>

    <div class="">
      {% for item in media %}
      <iframe src="https://docs.google.com/viewer?url=https://sac.iiitdmj.ac.in{{item.media.url}}&embedded=true"
        style="width: 100%; height: 90vh; min-height: 200px; max-height: 1000px; border: none; background-image: url('https://www.artwiseonline.com/static/frontend/Infortis/ultimo/en_US/images/loading-small.gif'); background-repeat: no-repeat; background-size: cover; background-position: center;"></iframe>
      <div class="mt-4 mb-4" style="text-align: center;">
        <a class="btn btn-primary btn-sm" href="{{item.media.url}}" target="_blank">
          <span class="p-2">
            <i class="fas fa-download text-white"></i>
            Download ({{item.media.file.size|filesizeformat}})
          </span>
        </a>
      </div>
      {% endfor %}
    </div>

    <div>
      <div><b>Tags</b> : {{ publication.tags|safe }}</div>
    </div>
  </div>

  {% else %}
  <h3>This publication is temporarily unavailable.</h3>
  {% endif %}

</section>
{% include 'globals/footer.html' %}
{% endblock %}