{% extends 'globals/base.html' %}
{% load static %}

{% block title %}
    Awards
{% endblock %}

{% block extra_head %}
<style>
    .card-title {
        font-size: 2.5rem !important;
    }
    .award-title {
        font-size: 2rem !important;
    }
    .award-image {
        max-height: 150px; 
        width: 100%;
        object-fit: cover;
        margin-left: 15px;
    }
    .award-item {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 20px;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        background-color: #f8f9fa;
    }

    @media (max-width: 576px) {
        .card-title {
            font-size: 1.5rem !important;
        }
        .award-title {
            font-size: 1.25rem !important;
        }
    }
    @media (max-width: 400px) {
        .card-title {
            font-size: 1.25rem !important;
        }
        .award-item .award-title {
            font-size: 1rem !important;
        }
    }
</style>
{% endblock %}

{% block body %}
    {% include 'globals/navbar.html' %}
    <div class="p-0 m-0 masthead-bg w-100 parallax shadow-sm" style="min-height:250px !important; height:270px !important; background-position-y: 270px;"></div>
    <div style="height:150px; min-height:150px;"></div>

    <div class="container text-left p-2 mx-auto">
        <div class="card shadow m-4 bg-light">
            <div class="card-body">
                <h1 class="card-title">Awards:</h1>
                <p class="m-2 font-weight-normal mb-3">
                    <span class="d-inline-block pb-1 pb-md-0">
                        <i class="fas fa-trophy"></i>
                        {{ award_count }} awards to display!
                    </span>
                </p>
                <div class="awards-list">
                    {% for award in awards %}
                        <div class="award-item mb-4">
                            <div class="row">
                                <div class="col-md-8">
                                    <h2 class="award-title">
                                        <a href="{% url 'awards:award' id=award.award_id %}">{{ award.title|safe }}</a>
                                    </h2>
                                    <p class="m-2 font-weight-normal mb-3">
                                        <span class="d-inline-block pb-1 pb-md-0">
                                            <i class="fas fa-table"></i>
                                            {{ award.published_date|date:"d F, o" }}
                                            &nbsp;
                                        </span>
                                        <span class="d-inline-block">
                                            <i class="fas fa-user"></i>&nbsp;
                                            {{ award.by }}
                                        </span>
                                        {% if award.received_by %}
                                            &nbsp;<span class="d-inline-block">
                                                <i class="fas fa-user-check"></i>&nbsp;
                                                {{ award.received_by }}
                                            </span>
                                        {% endif %}
                                    </p>
                                    <p>{{ award.description_snippet|safe }}</p>
                                </div>
                                {% if award.image and award.image.url %}
                                    <div class="col-md-3">
                                        <img src="{{ award.image.url }}" alt="{{ award.title_stripped }}" class="img-fluid mb-3 award-image">
                                    </div>
                                {% endif %}
                            </div>
                          <hr>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% include 'globals/footer.html' %}
{% endblock %}