{% extends 'globals/base.html' %}
{% load static %}
{% load thumbnail %}

{% block title %}
Members of IIITDMJ Alumni Association
{% endblock %}

{% block body %}
{% include 'globals/navbar.html' %}

<div class="p-0 m-0 masthead-bg w-100 parallax shadow-sm" style="min-height:250px !important; height:270px !important; background-position-y: 270px"></div>
<div style="height:150px; min-height:150px;"></div>

<section class="bg-transparent" style="padding:3rem 0 5rem;">
    <div class="members-container container text-left p-2 mx-auto bg-light shadow-lg rounded">

        <div class="row mx-auto">
            <div class="col text-center">
                <h2 class="font-open-sans"><span class="badge btn-block badge-primary">Batch of {{batch}}, {{branch}}
                    </span></h2>
            </div>
        </div>

        <div class="row p-4 mx-auto">
            {% for item in data %}
            <div class="col-md-6 col-lg-4 col-xl-3 p-2 members-shadow-on-hover">
                <div class="card">
                    <!-- hover-zoomin"  style="max-width: 24rem; max-height: 35em;"> -->
                    <span class="border border-primary">
                        <div class="card-body">
                            <a href="{% url 'profile:profile' item.roll_no %}" class="text-decoration-none">
                                <p class="text-center card-title">
                                    {% if item.profile_picture %}
                                    <img src="{% thumbnail item.profile_picture  216x216 crop %}" class=" img-fluid " alt="" 
                                        style="object-fit:cover; object-position:50% 0%; max-width:216px; 
                                         max-height:216px; width:100%; height:216px; margin-bottom: 1rem;" >
                                    {% else %}
                                    <img src="{% static 'AluminiConnect/img/user.png' %}" class="img-fluid"
                                        alt="" height="200px" width="200px">
                                    {% endif %}
                                </p>
                                <p class="card-title font-open-sans font-weight-bold">{{item.name}}</p>
                            </a>
                            <p class="font-italic card-text font-open-sans"><i class="fas fa-map-marker-alt"></i>{{item.city}}</p>

                            <h4 class="text-center card-text">
                                {% if item.facebook %}<a href="{{item.facebook}}" target="_blank"><i
                                        class="fab fa-facebook-square"></i></a>{% endif %}
                                {% if item.linkedin %}<a href="{{item.linkedin}}" target="_blank"><i
                                        class="fab fa-linkedin"></i></a>{% endif %}
                                {% if item.website %}<a href="{{item.website}}" target="_blank"><i
                                        class="fas fa-link"></i></a>{% endif %}
                            </h4>
                            
                        </div>
                    </span>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% include 'globals/footer.html' %}
{% endblock %}