{% extends 'globals/base.html' %}
{% load static %}

{% block title %} 
    {{ user.username }}
{% endblock %}

{% block body %}
  <!-- <body id="page-top" class="font-open-sans" style="background-color: #eaedf5"> -->
    {% include 'globals/navbar.html' %}

    <div class=" p-0 m-0 masthead-bg w-100 parallax shadow-sm" style="min-height:250px !important;height:270px !important;background-position-y: -400px">
        
    </div>
    
    <div style="height:170px;min-height: 150px;">
    </div>
    <section class="bg-white" >
            <div class="container">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Home</a>
            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Profile</a>
            <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Messages</a>
            <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</a>
          </div>
          <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                    <div class="row">
                            {% for item in cse %}
                            <div class="col-lg-4 p-2">
                              <div class="card w-100 shadow-sm" style="max-width: 24rem; max-height: 40rem;">
                                {% if item.profile_picture %}
                                <img src="{{ item.profile_picture.url }}" class="card-img-top" alt="" height="300px" width="300px">
                                {% else %}
                                <img src="{% static "AluminiConnect/img/event.png" %}" class="card-img-top" alt="" height="300px" width="300px">
                                {% endif %}
                                <div class="card-body">
                                  <h5 class="card-title font-weight-bold">{{item.first_name}} {{item.last_name}}</h5>
                                  
                                </div>
                              </div>
                            </div>
                            {% endfor %}
            </div>
            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">...</div>
            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">...</div>
            <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div>
          </div>

          </div>
    </section>
    {% include 'globals/footer.html' %} 
{% endblock %}
<!-- 
B.Tech <br>
CSE {{ data.BTech.CSE }}  <br>
ME {{ data.BTech.ME }} <br>
ECE {{ data.BTech.ECE }} <br><br>

B.Des <br>
{{ data.BDes.CSE}}-->