{% extends 'globals/base.html' %}
{% load static %}

{% block title %} 
     Members of IIITDMJ Alumni Association
{% endblock %}

{% block body %}
  <!-- <body id="page-top" class="font-open-sans" style="background-color: #eaedf5"> -->
    {% include 'globals/navbar.html' %}

    <div class=" p-0 m-0 masthead-bg w-100 parallax shadow-sm" style="min-height:250px !important;height:270px !important;background-position-y: -400px">
        
    </div>
    
    <div style="height:170px;min-height: 150px;">
    </div>
    <!--
    <section class="bg-transparent" style="padding-top:3rem">
        <div class="container text-left p-2 mx-auto bg-light">     
           <div class="row p-4">     
            
                <div class="col-lg-3 p-2">
                    <div class="card w-100 shadow-lg text-center" style="max-width: 15rem; max-height: 40rem;">
                        <div class="card-body">
                            
                        </div>
                    </div>
                </div>
            
            </div>
        </div>
    </section>
-->
    {% include 'globals/footer.html' %} 
{% endblock %}