{% extends 'globals/base.html' %}
{% load static %}

{% block title %} 
     Members of IIITDMJ Alumni Association
{% endblock %}

{% block body %}
  <!-- <body id="page-top" class="font-open-sans" style="background-color: #eaedf5"> -->
    {% include 'globals/navbar.html' %}

    <div class=" p-0 m-0 masthead-bg w-100 parallax shadow-sm" style="min-height:250px !important;height:270px !important;background-position-y: -400px">
        
    </div>
    
    <div style="height:170px;min-height: 150px;">
    </div>
    
    <section class="bg-transparent" style="padding-top:3rem">
        <div class="container text-left p-2 mx-auto bg-light">     
            
            {% for key1, value1 in data.items %}
            <div class="row w-100">
                <div class="col text-left">
                    <h2 class="font-open-sans"><span class="badge badge-primary">{{ key1 }}</span></h2>
                </div>
            </div>
            
            <div class="row p-4">     
                {% for key2, value2 in value1.items %}
                <div class="col-lg-3 p-2">
                    
                        <a href="{% url 'members:batch' year=year %}{{key1}}/{{key2}}/" class="btn btn-outline-primary btn-block "> {{ key2}} <br>{{ value2 }} Member{{ value2|pluralize }} </a>
                        
                    
                </div>
                {% endfor %}
            </div>
            {% endfor %}

        </div>
    </section>
    {% include 'globals/footer.html' %} 
{% endblock %}