{% extends 'globals/base.html' %}
{% load static %}

{% block title %}
Chapters
{% endblock %}

{% block css %}
<link rel="stylesheet" href='{% static "chapter/chapter.css" %}' />
{% endblock %}

{% block body %}
{% include 'globals/navbar.html' %}
<div class="p-0 m-0 masthead-bg w-100 parallax shadow-sm"
    style="min-height:300px !important; height:300px !important; background-position-y: 300px;"></div>
<!-- <div style="height:150px; min-height: 150px;"></div> -->

<header class="masthead text-center text-white d-flex" style="height:0px; min-height:300px;">
    <div class="container my-auto" style="margin-bottom:50px !important;">
        <div class="row">
            <div class="col-lg-8 mx-auto align-middle">
                <h1 class="text-uppercase mt-4">
                    <strong>CHAPTERS</strong>
                </h1>
            </div>
        </div>
    </div>
</header>

<section id="services" class="bg-primary p-1">
</section>

<div class="container">
    <div class="row my-5">
        {% for item in chapters %}
        <div class="col-xl-4 col-md-6 mb-4 mx-auto" style="cursor: pointer"
            onclick="location.href='{% url 'chapter:chapter' item.id %}'">
            <div class="card border-0 shadow shadow-on-hover">
                {% if item.wall_picture %}
                <img src="{{ item.wall_picture.url }}" class="card-img-top" alt="{{item.name}}"
                    style="object-fit:cover; max-width:350px; max-height:245px; height:245px;">
                {% else %}
                <img src="/static/AluminiConnect/img/coll3.jpeg" class="card-img-top" alt="..."
                    style="object-fit:cover; max-width:350px; max-height:245px; height:245px;">
                {% endif %}
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">{{item.name}}</h5>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="container">
    <h6>
        <small class="form-text text-muted">Want to start a new <b>Alumni Chapter</b>. Contact us at <a
                href="mailto:alumni@iiitdmj.ac.in">alumni@iiitdmj.ac.in</a> </small>
    </h6>
</div>
{% include 'globals/footer.html' %}
{% endblock %}