{% extends 'globals/base.html' %}
{% load crispy_forms_tags %}

{% load static %}

{% block title %}
AlumniConnect
{% endblock %}

{% block body %}
{% include 'globals/navbar.html' %}
<div class=" p-0 m-0 masthead-bg w-100 h-100 parallax" style="background-position-y: -25rem"></div>

<header class="masthead text-center text-white d-flex" style="height:0px;min-height:300px">
   <div class="container my-auto" style="margin-bottom:50px !important;">
      <div class="row">
         <div class="col-lg-2 mx-auto align-middle">
            <h2 class="text-uppercase">
               <a href="{% url 'home' %}"><img src={% static "AluminiConnect/img/logo/alumb1.png" %} style="width: 4em; height: auto;"></a>
            </h2>
         </div>
         <div class="col-lg-8 mx-auto align-middle">
            <h1 class="text-uppercase mt-4">
               <strong>STUDENT ALUMNI CELL</strong>
            </h1>
         </div>
      </div>
   </div>
</header>

<section id="services" class="bg-primary p-1">
</section>

<div class="bg-white">
   <div class="container text-left p-2 mx-auto" , style="width: 40rem;">
      <div class="card shadow m-4 bg-light">
         <div class="col-lg-12 mx-auto mx-auto">
            <div class="row text-left m-4 p-4">
               <p>Thank you for your email confirmation. Now you can login your account.</p>
            </div>
         </div>
      </div>
   </div>
</div>
{% include 'globals/footer.html' %}
{% endblock %}
<!--DOCTYPE html>
<html>
   <head>
      <title>Account Success</title>
      <meta http-equiv = "refresh" content = "2; url = {% url 'login' %}" />
   </head>
   <body>
      <p>Thank you for your email confirmation. Now you can login your account. Redirecting...'</p>
   </body>
</html>-->