{% extends 'globals/base.html' %}
{% load static %}

{% block title %}
Alumni Card Form
{% endblock %}

{% block body %}
{% include 'globals/navbar.html' %}
<div class=" p-0 m-0 masthead-bg w-100 h-100 parallax" style="background-position-y: -25rem"></div>

<header class="masthead text-center text-white d-flex" style="height:0px;min-height:300px">
  <div class="container my-auto" style="margin-bottom:50px !important;">
    <div class="row">
      <div class="col-lg-2 mx-auto align-middle">
        <h2 class="text-uppercase">
          <a href="{% url 'home' %}"><img src={% static "AluminiConnect/img/logo/alumb1.png" %} style="width: 4em; height: auto;"></a>
        </h2>
      </div>
      <div class="col-lg-8 mx-auto align-middle">
        <h1 class="text-uppercase mt-4">
          <strong>Alumni Card</strong>
        </h1>
      </div>
    </div>
  </div>
</header>

<section id="services" class="bg-primary p-1">
</section>
<section class="bg-white" id="about">
<div class="bg-white">
    <div class="container text-left p-2 mx-auto" , style="width: 40rem;">
      <form action="https://mailthis.to/2016049@iiitdmj.ac.in/"
          method="POST" encType="multipart/form-data">
          <input type="text" name="name" placeholder="Your name">
          <input type="email" name="_replyto" placeholder="Your email">
          <textarea name="message" placeholder="Enter your message here"></textarea>
          <input type="file" name="file" placeholder="Attachments (optional)">
          <input type="hidden" name="_subject" value="Alumni Card request">
          <input type="hidden" name="_after" value="http://sac.iiitdmj.ac.in/">
          <input type="hidden" name="_honeypot" value="">
          <input type="hidden" name="_confirmation" value="Your request has been accepted">
          <input type="submit" value="Send">
      </form>
      </div>
    </div>
  </section>
{% endblock %}
{% include 'globals/footer.html' %}
