<!DOCTYPE html>
<html>

<head>
   <title>HTML Meta Tag</title>
   <meta http-equiv="refresh" content="2; url = {% url 'home' %}" />
</head>

<body>
   <p>Please confirm your email address to complete registeration process. Redirecting...'</p>
   <p>
      We've emailed you instructions to complete your registeration process.You should receive them shortly.
   </p>
   <p>
      If you don't receive an email, please make sure you've entered the address you registered with,and check your
      spam folder.
   </p>
   <p>
      Redirecting to homepage...
   </p>
</body>

</html>