{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Alumni Connect - IIITDM Jabalpur</title>

    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- Custom fonts for this template -->
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/startbootstrap-creative/5.0.2/css/creative.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "AluminiConnect/css/creative.css" %}" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top navbar-shrink" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Alumni Connect</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="">Our Alumni</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#events">Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#news">News</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#gallery">Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="">Newsletter</a>
            </li>
            {% if not user.is_authenticated %}
            <li class="nav-item">
              <a class="btn btn-dark btn-xl js-scroll-trigger text-white" style="padding: .5rem 1rem;" href="./login/">Sign In</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="./profile/{{user.username}}/">Hi, {{ user.username }}!</a>
            </li>
            <li class="nav-item">
              <a class="btn btn-dark btn-xl js-scroll-trigger text-white" style="padding: .5rem 1rem;" href="./logout/">Log Out</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <div class=" p-0 m-0 masthead-bg w-100 h-100 parallax"></div>

    <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <img src= {% static "AluminiConnect/img/logo/alumb1.png" %} style="width: 4em; height: auto;">
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <h1 class="text-uppercase">
              <strong>ALUMNI ASSOCIATION</strong>
            </h1>
          </div>
        </div>
      </div>
    </header>

    <section id="services" class="bg-primary" style="padding: 5rem 0;">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fas fa-4x fa-newspaper text-white mb-3 sr-icon-1"></i>
              <h3 class="mb-3 text-white">NEWSLETTER</h3>
              <p class="text-faded mb-0">Take a look at the past and upcoming events, as well as testimonials and more</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fas fa-4x fa-award text-white mb-3 sr-icon-2"></i>
              <h3 class="mb-3 text-white">FEATURED ALUMNI</h3>
              <p class="text-faded mb-0">Our alumni have distinguished themselves in various walks of life</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fas fa-4x fa-users text-white mb-3 sr-icon-3"></i>
              <h3 class="mb-3 text-white">ALUMNI BODY</h3>
              <p class="text-faded mb-0">Find out more about the people responsible for all alumni affairs</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fas fa-4x fa-sign-in-alt  text-white mb-3 sr-icon-4"></i>
              <h3 class="mb-3 text-white">CONNECT WITH US</h3>
              <p class="text-faded mb-0">Signin or Signup into our portal</p>
            </div>
          </div>
        </div>
      </div>
    </section>


<!--
        ███████╗██╗   ██╗███████╗███╗   ██╗████████╗███████╗
        ██╔════╝██║   ██║██╔════╝████╗  ██║╚══██╔══╝██╔════╝
        █████╗  ██║   ██║█████╗  ██╔██╗ ██║   ██║   ███████╗
        ██╔══╝  ╚██╗ ██╔╝██╔══╝  ██║╚██╗██║   ██║   ╚════██║
        ███████╗ ╚████╔╝ ███████╗██║ ╚████║   ██║   ███████║
        ╚══════╝  ╚═══╝  ╚══════╝╚═╝  ╚═══╝   ╚═╝   ╚══════╝
-->
    <section class="bg-white" id="events" style="padding:3rem">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-left">
            <h2 class="font-open-sans">EVENTS</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 p-2">
            <div class="card w-100 shadow-sm" style="max-width: 24rem;">
              <img src="{% static "AluminiConnect/img/coll.jpg" %}" class="card-img-top" alt="">
              <div class="card-body">
                <h5 class="card-title font-weight-bold">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <p class="m-2 font-weight-light font-italic text-muted font-open-sans mb-3">
                  <i class="fas fa-calendar-alt font-weight-lighter "></i>
                  December 20, 2018 
                </p>
                <a href="#" class="btn btn-primary">VIEW</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 p-2">
            <div class="card w-100 shadow-sm" style="max-width: 24rem;">
              <img src="{% static "AluminiConnect/img/coll.jpg" %}" class="card-img-top" alt="">
              <div class="card-body">
                <h5 class="card-title font-weight-bold">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <p class="m-2 font-weight-light font-italic text-muted font-open-sans mb-3">
                  <i class="fas fa-calendar-alt font-weight-lighter "></i>
                  December 20, 2018 
                </p>
                <a href="#" class="btn btn-primary">VIEW</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 p-2">
            <div class="card w-100 shadow-sm" style="max-width: 24rem;">
              <img src="{% static "AluminiConnect/img/coll.jpg" %}" class="card-img-top" alt="">
              <div class="card-body">
                <h5 class="card-title font-weight-bold">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <p class="m-2 font-weight-light font-italic text-muted font-open-sans mb-3">
                  <i class="fas fa-calendar-alt font-weight-lighter "></i>
                  December 20, 2018 
                </p>
                <a href="#" class="btn btn-primary">VIEW</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>  


    <!--
          ███╗   ██╗███████╗██╗    ██╗███████╗
          ████╗  ██║██╔════╝██║    ██║██╔════╝
          ██╔██╗ ██║█████╗  ██║ █╗ ██║███████╗
          ██║╚██╗██║██╔══╝  ██║███╗██║╚════██║
          ██║ ╚████║███████╗╚███╔███╔╝███████║
          ╚═╝  ╚═══╝╚══════╝ ╚══╝╚══╝ ╚══════╝
    -->

    <section class="bg-white" id="news" style="padding:3rem">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-left">
            <h2 class="font-open-sans">NEWS</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 p-2">
            <div class="card w-100 shadow-sm" style="max-width: 24rem;">
              <img src="{% static "AluminiConnect/img/coll.jpg" %}" class="card-img-top" alt="">
              <div class="card-body font-open-sans">
                <p class="m-2 font-weight-light font-italic text-muted">
                  <i class="fas fa-calendar-alt font-weight-lighter "></i>
                  December 20, 2018 
                </p>
                <h5 class="card-title font-weight-normal">Some quick example text to act as news.</h5>
                <p class="card-text font-weight-light text-muted">Some quick example text to act as news.</p>
                <a href="#" class="btn btn-primary">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 p-2">
            <div class="card w-100 shadow-sm" style="max-width: 24rem;">
              <img src="{% static "AluminiConnect/img/coll.jpg" %}" class="card-img-top" alt="">
              <div class="card-body font-open-sans">
                <p class="m-2 font-weight-light font-italic text-muted">
                  <i class="fas fa-calendar-alt font-weight-lighter "></i>
                  December 20, 2018 
                </p>
                <h5 class="card-title font-weight-normal">Some quick example text to act as news.</h5>
                <p class="card-text font-weight-light text-muted">Some quick example text to act as news.</p>
                <a href="#" class="btn btn-primary">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 p-2">
            <div class="card w-100 shadow-sm" style="max-width: 24rem;">
              <img src="{% static "AluminiConnect/img/coll.jpg" %}" class="card-img-top" alt="">
              <div class="card-body font-open-sans">
                <p class="m-2 font-weight-light font-italic text-muted">
                  <i class="fas fa-calendar-alt font-weight-lighter "></i>
                  December 20, 2018 
                </p>
                <h5 class="card-title font-weight-normal">Some quick example text to act as news.</h5>
                <p class="card-text font-weight-light text-muted">Some quick example text to act as news.</p>
                <a href="#" class="btn btn-primary">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>    

<!--
    <section class="bg-white" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center m-0">
            <div class="row border border-primary p-4">
              <div class="col-lg-6 p-0">
                <img class="col-lg-12 p-0" src= {% static "AluminiConnect/img/coll.jpg" %} alt="">
              </div>
              <div class="col-lg-6 text-left">
                <h2 class="h3 text-primary pt-1">HISTORY & MISSION</h2>
                <p class="text-muted">The Alumni Association was established in 2017 to operate exclusively for educational support, charitable concerns and scientific research of the Members and students undergoing graduation or post-graduation . The Association is a registered body with the Registrar of Societies, MP.</p>
              </div>
            </div>
            <div class="row border border-primary p-4 mt-4">
              <div class="col-lg-12 text-left">
                  <h2 class="h3 text-primary pt-1">ACHIEVEMENTS</h2>
                  <p class="text-muted">
                    <ul>
                      <li>
                        Design (MDes) students Shivam Bharti, Rakesh Kumar Sahu, Avinash Sahu won an award in student category among 117 international entries in the International conference ' UX India - 2018 ' held in Bangalore. The topic of their presentation was User Experience Design for customised tailored clothes. 
                      </li>
                      <li>
                        Mr. Arjun R Harish student of B.tech (Mechanical Engineering), final year, received an International summer fellowship in the Department of Industrial and Manufacturing Systems Engineering at The University of Hong Kong. He will work with Prof Huang and Dr. Saurabh Pratap in joint collaboration of a research work in the domain of " In-bound and out-bound transportation for the E-commerce logistics company". He has signed a contract of fellowship 12000 HKD/month from June 2018 to Nov 2018. In world ranking, the University of Hong Kong is overall, 27th rank and 1st rank in Hong Kong. 
                      </li>
                    </ul>
                  </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mx-auto text-center">
            <div class="row border border-primary p-4 ml-2">
              <div class="col-lg-12">
                  <h2 class="section-heading text-primary">Downloads</h2>
                  <hr class="dark my-4">
                  <p class="text-muted mb-4">Find old newletters, NIRF data, Society Registration and other docs here.</p>
                  <a class="btn btn-light btn-xl js-scroll-trigger" href="#">Download</a>
              </div>
            </div>
            <div class="row border border-primary p-4 ml-2 mt-4">
              <div class="col-lg-12 ">
                  <h4 class="section-heading text-primary">MESSAGE</h4>
                  <hr class="dark my-4">
                  <div class="row text-left">
                      <div class="col-lg-4">
                        <img width="80px" height="100px"  src= {% static "AluminiConnect/img/TulikaRuthNelson.jpg" %}>
                      </div>
                      <div class="col-lg-8">
                        <div class="text-uppercase text-primary font-open-sans" >Tulika Ruth Nelson</div>
                        <div class="text-uppercase font-open-sans" style="font-size:0.7rem">Officer-In-Charge</div>
                      </div>
                  </div>
                  <p class="text-muted mb-4  text-truncate mt-4">
                      I convey to you a very warm welcome from your Alma Mater and take great pride in bringing you closer to PDPM-IIITDMJ.This is an exciting time for our beloved Institute. Changes are happening and we are taking key steps towards our mission for excellence. Evolution is taking place in academics, placements,research and overall campus life. Visit us to experience this new era yourself. It is a new era where the Alma Mater is becoming a reference point for its alumni. You are a part of our timeline, and your engagement with the Institute is crucial in helping us reach our vision. You are energetic, knowledgeable and immensely talented with strong networks, you can mobilize funds and resources for over all development and expansion of your Alma Mater. So, be proud to be connected, and make others proud by connecting and contributing. If you have any ideas on how we can engage with you, please feel free to contact me at alumni@iiitdmj.ac.in
                      We can do better . . . and we should! 
                  </p>
                  <a class="btn btn-light btn-xl js-scroll-trigger" href="#">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-primary"  style="padding: 5rem 0;" id="featured">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">Featured Alumni</h2>
            <hr class="light my-4">
            <p class="text-faded mb-4">Our alumni have distinguished themselves in various walks of life.</p>
            <a class="btn btn-light btn-xl js-scroll-trigger" href="#">CONNECT</a>
          </div>
        </div>
      </div>
    </section>
  -->


  <!--
           ██████╗  █████╗ ██╗     ██╗     ███████╗██████╗ ██╗   ██╗
          ██╔════╝ ██╔══██╗██║     ██║     ██╔════╝██╔══██╗╚██╗ ██╔╝
          ██║  ███╗███████║██║     ██║     █████╗  ██████╔╝ ╚████╔╝ 
          ██║   ██║██╔══██║██║     ██║     ██╔══╝  ██╔══██╗  ╚██╔╝  
          ╚██████╔╝██║  ██║███████╗███████╗███████╗██║  ██║   ██║   
          ╚═════╝ ╚═╝  ╚═╝╚══════╝╚══════╝╚══════╝╚═╝  ╚═╝   ╚═╝   
  -->
    <section class="bg-primary"  style="padding: 3rem 0;" id="gallery">
      <div class="container">
        <div class="row p-4">
          <div class="col-lg-6 mx-auto text-left">
            <h2 class="text-white font-open-sans">GALLERY</h2>
          </div>
          <div class="col-lg-6 mx-auto text-right">
            <a class="btn btn-dark btn-xl js-scroll-trigger" href="#">VIEW ALL</a>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3">
            <a href="" >
              <div class="card w-100 shadow-sm p-2" style="max-width: 24rem;">
                <img src="{% static "AluminiConnect/img/coll.jpg" %}" class="card-img-top" alt="">
                <div class="card-body font-open-sans">
                  <h5 class="card-title font-weight-normal">Name of some event</h5>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3">
            <a href="" >
              <div class="card w-100 shadow-sm p-2" style="max-width: 24rem;">
                <img src="{% static "AluminiConnect/img/coll.jpg" %}" class="card-img-top" alt="">
                <div class="card-body font-open-sans">
                  <h5 class="card-title font-weight-normal">Name of some event</h5>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3">
            <a href="" >
              <div class="card w-100 shadow-sm p-2" style="max-width: 24rem;">
                <img src="{% static "AluminiConnect/img/coll.jpg" %}" class="card-img-top" alt="">
                <div class="card-body font-open-sans">
                  <h5 class="card-title font-weight-normal">Name of some event</h5>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3">
            <a href="" >
              <div class="card w-100 shadow-sm p-2" style="max-width: 24rem;">
                <img src="{% static "AluminiConnect/img/coll.jpg" %}" class="card-img-top" alt="">
                <div class="card-body font-open-sans">
                  <h5 class="card-title font-weight-normal">Name of some event</h5>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>

    <!--
    <section class="p-0" id="gallery">
      <div class="container-fluid p-0">
        <div class="row no-gutters popup-gallery">
          <div class="col-lg-3 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/1.jpg">
              <img class="img-fluid" src= {% static "AluminiConnect/img/portfolio/thumbnails/1.jpg" %} alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/2.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/2.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/3.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/3.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/4.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/4.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/4.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/4.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/4.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/4.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/5.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/5.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/6.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/6.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>
  -->

    <section id="contact" class="text-white bg-dark">
      <div class="container">
        <div class="row font-open-sans">

          <div class="col-lg-3 text-white text-left">
            <h6 class="title text-uppercase border-bottom p-3" style="padding-left:0px !important">About</h6>
            <br>
            <ul class="list-unstyled">
              <li><a href="http://www.iiitdmj.ac.in/">Home</a></li>
              <li><a href="http://faculty.iiitdmj.ac.in/" target="_blank">Faculty</a></li>
              <li><a href="http://pbi.iiitdmj.ac.in/">PBI</a></li>
              <li><a href="http://www.iiitdmj.ac.in/rti.php">RTI</a></li>
              <li><a href="../site.iiitdmj.ac.in/download/IIIT%20Act%2030_of_2014.pdf">IIIT Act</a></li>
              <li><a href="http://www.iiitdmj.ac.in/maps_direction.php">Maps &amp; Directions</a></li>
              <li><a href="../site.iiitdmj.ac.in/download/taxi%20services.pdf">Taxi Services</a></li>
            </ul>
          </div>
          <div class="col-lg-3 text-white text-left">
            <h6 class="title text-uppercase border-bottom p-3" style="padding-left:0px !important">Important Links</h6>
            <br>
            <ul class="list-unstyled">
              <li><a href="http://www.iiitdmj.ac.in/academics/calendar.php#acad_cal">Academic Calendar</a></li>
              <li><a href="http://ict.iiitdmj.ac.in/index.html">Electronics and ICT Academy</a></li>
              <li><a href="http://efee.iiitdmj.ac.in/efee/">On Line Fee Payment</a></li>
              <li><a href="http://www.iiitdmj.ac.in/hindi.php">Hindi Notice Board</a></li>
              <li><a href="http://www.iiitdmj.ac.in/annual_report.php">Annual Report</a></li>
              <li><a href="http://www.iiitdmj.ac.in/annual_account.php">Annual Account</a></li>
              <li><a href="http://community.worldlibrary.in/?Affiliatikey=NDL-ZY1239" target="_blank">World e-book library</a></li>
              <li><a href="http://cec.nic.in/Pages/Home.aspx" target="_blank">Consortium for Educational Communication(CEC)</a></li>
            </ul>
          </div>
          <div class="col-lg-3 text-white text-left">
            <h6 class="title text-uppercase border-bottom p-3" style="padding-left:0px !important">Others</h6>
            <br>
            <ul class="list-unstyled">
              <li><a href="http://site.iiitdmj.ac.in/STSCCell/">SC/ST and Minority Cell</a></li>
              <li><a href="http://site.iiitdmj.ac.in/womencell/index.html">Women Cell</a></li>
              <li><a href="http://revista.iiitdmj.ac.in/">Revista</a></li>
              <li><a href="http://www.iiitdmj.ac.in/contact.php">Contacts</a></li>
              <li><a href="http://site.iiitdmj.ac.in/tenders.html">Tenders</a></li>
              <li><a href="http://site.iiitdmj.ac.in/home.html">Jobs</a></li>
              <li><a href="http://rajbhasha.iiitdmj.ac.in/" target="_blank">Sansthan Rajbhasha Vibhag</a></li>
              <li><a href="../web.iiitdmj.ac.in/download/notifications/List%20of%20Institute%20closed%20holidays%20for%20the%20calender%20year%202017.pdf">Closed Holiday 2017 </a></li>
              <li><a href="../web.iiitdmj.ac.in/download/notifications/List%20of%20Institute%20restricted%20holidays%20for%20the%20calender%20year%202017.pdf">Restricted Holiday 2017 </a></li>
             </ul>
          </div>
          <div class="col-lg-3 text-white text-left">
            <h6 class="title text-uppercase border-bottom p-3" style="padding-left:0px !important">Contact Us</h6>
            <br>
            <ul class="list-unstyled">
              <li><a href="#">Indian Institute of Information Technology Design & Manufacturing Jabalpur</a></li>
              <li><a href="#">Dumna Airport Road, Dumna - 482005</a></li>
            </ul>
            <ul class="list-unstyled">
                <li><a href="../www.iiitdmj.ac.in/downloads/IIITDMJ%20Telephone%20Directory.pdf" target="_blank">Phone Directory</a></li>
            </ul>
          </div>

        </div>
      </div>
    </section>

    <!-- Bootstrap core JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
		
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/scrollReveal.js/4.0.5/scrollreveal.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/startbootstrap-creative/5.0.2/js/creative.min.js"></script>

  </body>

</html>
