{% extends 'globals/base.html' %}
{% load static %}

{% block title %} 
  Sign Up/Sign In
{% endblock %}

{% block body %}
{% include 'globals/navbar.html' %}
    <div class=" p-0 m-0 masthead-bg w-100 h-100 parallax" style="background-position-y: -25rem"></div>

    <header class="masthead text-center text-white d-flex" style="height:0px;min-height:300px">
      <div class="container my-auto" style="margin-bottom:50px !important;">
        <div class="row">
          <div class="col-lg-2 mx-auto align-middle">
            <h2 class="text-uppercase">
              <a href="{% url 'home' %}"><img src= {% static "AluminiConnect/img/logo/alumb1.png" %} style="width: 4em; height: auto;"></a>
            </h2>
          </div>
          <div class="col-lg-8 mx-auto align-middle">
            <h1 class="text-uppercase mt-4">
              <strong>ALUMNI ASSOCIATION</strong>
            </h1>
          </div>
        </div>
      </div>
    </header>

    <section id="services" class="bg-primary p-1">
    </section>
            
    <div class="bg-white">
      <div class="container text-left p-2 mx-auto", style="width: 40rem;">           
        <div class="card shadow m-4 bg-light">
          <div class="col-lg-12 mx-auto mx-auto">
            <div class="row text-center">
                <div class="col-lg-12 text-primary", style="padding-top: 3rem;">
                    <h2>SIGN IN</h2>
                    <hr class="mb-4">
                </div>
            </div>
            <div class="row text-left m-4 p-4">
                <div class="col-lg-12">
                    {% if form.errors %}
                    <p class = "alert alert-danger" >Your username and password is not correct. Please try again.</p>
                    {% endif %}
                    <form method="POST" class="font-open-sans" novalidate>
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="signin-uname">Username</label>
                            <input id="signin-uname" type="text" name="username" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="button-addon2" required>
                        </div>
                        <div class="form-group">
                            <label for="signin-password">Password</label>
                            <input id="signin-password" type="password" name="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="button-addon2" required>
                        </div>
                        <button class="btn btn-primary" type="submit" value="login" name="submit">Sign In</button>
                    </form>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </section>
    {% include 'globals/footer.html' %}
{% endblock %}
