{% extends 'globals/base.html' %}
{% load crispy_forms_tags %}

{% load static %}

{% block title %} 
  AlumniConnect - ProfileEdit
{% endblock %}

{% block body %}
{% include 'globals/navbar.html' %}
<div class=" p-0 m-0 masthead-bg w-100 h-100 parallax" style="background-position-y: -25rem"></div>

    <header class="masthead text-center text-white d-flex" style="height:0px;min-height:300px">
      <div class="container my-auto" style="margin-bottom:50px !important;">
        <div class="row">
          <div class="col-lg-2 mx-auto align-middle">
            <h2 class="text-uppercase">
              <a href="{% url 'home' %}"><img src= {% static "AluminiConnect/img/logo/alumb1.png" %} style="width: 4em; height: auto;"></a>
            </h2>
          </div>
          <div class="col-lg-8 mx-auto align-middle">
            <h1 class="text-uppercase mt-4">
              <strong>ALUMNI ASSOCIATION</strong>
            </h1>
          </div>
        </div>
      </div>
    </header>

    <section id="services" class="bg-primary p-1">
    </section>

    <section class="bg-white" id="about">
      <div class="container">            
        <div class="row">
          <div class="col-lg-12 mx-auto text-left mx-auto">
            <div class="row text-center">
                <div class="col-lg-12 text-primary">
                    <h2>Edit Profile</h2>
                    <hr>
                </div>
            </div>
            <div class="container text-center p-2 mx-auto", style="width: 50rem;">
                <div class="row text-left m-4 p-4 col-lg-12">
                    <form method="POST" role="form">
                        {% csrf_token %}
                        {% crispy form %}
                    </form>
                </div>
            </div>
            <!-- 
            <div class="row text-left m-4 p-4">
                <div class="col-lg-12">
                    <form method="POST" class="font-open-sans">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn btn-primary" type="submit" value="signup" name="submit">Save Changes</button>
                    </form>
                </div>      
            </div>
            -->     
          </div>
        </div>
      </div>
    </section>
    {% include 'globals/footer.html' %}
{% endblock %}