{% extends 'globals/base.html' %}
{% load crispy_forms_tags %}

{% load static %}

{% block title %}
AlumniConnect
{% endblock %}

{% block javascript %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//geodata.solutions/includes/countrystatecity.js"></script>
<script type="text/javascript">
  document.getElementById('div_id_current_position').style.display = 'none';
  document.getElementById('div_id_current_organisation').style.display = 'none';
  document.getElementById('div_id_date_of_joining').style.display = 'none';
  document.getElementById('div_id_past_experience').style.display = 'none';
  document.getElementById('div_id_current_course').style.display = 'none';
  document.getElementById('div_id_current_university').style.display = 'none';
  $('#id_id_working_status_0_1').click(function () {
    document.getElementById('div_id_current_position').style.display = 'block';
    document.getElementById('div_id_current_organisation').style.display = 'block';
    document.getElementById('div_id_date_of_joining').style.display = 'block';
    document.getElementById('div_id_past_experience').style.display = 'block';
    document.getElementById('div_id_current_university').style.display = 'none';
    document.getElementById('div_id_current_course').style.display = 'none';
  })
  $('#id_id_working_status_0_2').click(function () {
    document.getElementById('div_id_current_position').style.display = 'none';
    document.getElementById('div_id_current_organisation').style.display = 'none';
    document.getElementById('div_id_past_experience').style.display = 'none';
    document.getElementById('div_id_current_course').style.display = 'block';
    document.getElementById('div_id_current_university').style.display = 'block';
  })
  $('#id_id_working_status_0_3').click(function () {
    document.getElementById('div_id_current_position').style.display = 'block';
    document.getElementById('div_id_current_organisation').style.display = 'block';
    document.getElementById('div_id_past_experience').style.display = 'none';
    document.getElementById('div_id_current_course').style.display = 'none';
    document.getElementById('div_id_current_university').style.display = 'none';
  })

</script>
{% endblock %}

{% block body %}
{% include 'globals/navbar.html' %}
<div class=" p-0 m-0 masthead-bg w-100 h-100 parallax" style="background-position-y: -25rem"></div>

<header class="masthead text-center text-white d-flex" style="height:0px;min-height:300px">
  <div class="container my-auto" style="margin-bottom:50px !important;">
    <div class="row">
      <div class="col-lg-2 mx-auto align-middle">
        <h2 class="text-uppercase">
          <a href="{% url 'home' %}"><img src={% static "AluminiConnect/img/logo/alumb1.png" %}
              style="width: 4em; height: auto;"></a>
        </h2>
      </div>
      <div class="col-lg-8 mx-auto align-middle">
        <h1 class="text-uppercase mt-4">
          <strong>ALUMNI ASSOCIATION</strong>
        </h1>
      </div>
    </div>
  </div>
</header>
</div>
<section id="services" class="bg-primary p-1">
</section>

<div class="bg-white">
  <div class="container text-left p-2 mx-auto" , style="width: 60rem;">
    <div class="card shadow m-4 bg-light">
      <div class="col-lg-12 mx-auto text-left mx-auto">
        <div class="row text-center">
          <div class="col-lg-12 text-primary" , style="padding-top: 3rem;">
            {% if edit %}
            <h2>Edit Profile</h2>
            {% else %}
            <h2>Registration Form</h2>
            {% endif %}
            <hr>
          </div>
        </div>
        <div class="container text-center p-2 mx-auto" , style="width: 50rem;">
          <div class="row text-left m-4 p-4 col-lg-12">
            <form method="POST" role="form" enctype="multipart/form-data">
              {% csrf_token %}
              {% crispy form %}
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  function insertBefore(el, referenceNode) {
    referenceNode.parentNode.insertBefore(el, referenceNode);
  }

  var button = document.getElementById('submit-id-submit');
  button.disabled = true;
  var form = button.parentElement;

  var checkbox1 = document.createElement('div');
  checkbox1.classList.add('form-group');
  checkbox1.innerHTML = '<input class="form-check-input" onclick="cb1f()" type="checkbox" value="" id="form-checkbox1"></input>' +
    '<label class="form-check-labels" for="form-checkbox1">' +
    'I agree to the Terms and Conditions' +
    '</label>'


  var checkbox2 = document.createElement('div');
  checkbox2.classList.add('form-group');

  checkbox2.innerHTML = '<input class="form-check-input" onclick="cb2f()" type="checkbox" value="false" id="form-checkbox2">' +
    '<label class="form-check-labels" for="defaultCheck1">' +
    'I will update my profile' +
    '</label>'

  insertBefore(checkbox1, button);
  insertBefore(checkbox2, button);

  let cb1checked = false;
  let cb2checked = false;


  function updateButton() {
    if (cb1checked && cb2checked) {
      button.disabled = false;
    }
    else {
      button.disabled = true;
    }
  }

  function cb1f() {
    var chkPassport = document.getElementById("form-checkbox1");
    if (chkPassport.checked) {
      cb1checked = true;
    } else {
      cb1checked = false;
    }
    updateButton();
  }

  function cb2f() {
    var chkPassport = document.getElementById("form-checkbox2");
    if (chkPassport.checked) {
      cb2checked = true;
    } else {
      cb2checked = false;
    }
    updateButton();
  }

</script>
{% include 'globals/footer.html' %}
{% endblock %}