<div style="background-color:#f4f4f4">
    <div style="background-color:#f4f4f4">
        <div style="Margin:0px auto;max-width:600px">
            <table style="width:100%" cellspacing="0" cellpadding="0" border="0" align="center">
                <tbody>
                    <tr>
                        <td style="direction:ltr;font-size:0px;padding:20px 0px 20px 0px;text-align:center;vertical-align:top">
                            <div style="font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">
                                <table style="vertical-align:top" width="100%" cellspacing="0" cellpadding="0" border="0"></table>
                            </div>
                            <div
                                style="font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">
                                <table style="vertical-align:top" width="100%" cellspacing="0" cellpadding="0" border="0"></table>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="Margin:0px auto;max-width:600px">
            <table style="width:100%" cellspacing="0" cellpadding="0" border="0" align="center">
                <tbody>
                    <tr>
                        <td style="direction:ltr;font-size:0px;padding:20px 0;padding-bottom:0px;padding-top:0px;text-align:center;vertical-align:top">
                            <div style="font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">
                                <table style="vertical-align:top" width="100%" cellspacing="0" cellpadding="0" border="0">
                                    <tbody>
                                        <tr>
                                            <td style="font-size:0px;padding:10px 25px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;word-break:break-word"
                                                align="center">
                                                <table style="border-collapse:collapse;border-spacing:0px" cellspacing="0" cellpadding="0" border="0">
                                                    <tbody>
                                                        <tr>
                                                            <td style="width:600px">
                                                                <img alt="IIITDM Jabalpur"
                                                                    src="http://xl2h2.mjt.lu/tplimg/xl2h2/b/xw5rx/tizt5.jpeg"
                                                                    style="border:none;border-radius:px;display:block;outline:none;text-decoration:none;height:auto;width:100%"
                                                                    title="" width="600" height="auto">
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="background:#dddddd;background-color:#dddddd;Margin:0px auto;max-width:600px">
            <table style="background:#dddddd;background-color:#dddddd;width:100%" cellspacing="0" cellpadding="0"
                border="0" align="center">
                <tbody>
                    <tr>
                        <td style="direction:ltr;font-size:0px;padding:0px 0px 0px 0px;text-align:center;vertical-align:top">
                            <div style="font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">
                                <table style="vertical-align:top" width="100%" cellspacing="0" cellpadding="0" border="0">
                                    <tbody>
                                        <tr>
                                            <td style="background:#ffffff;font-size:0px;padding:0px 25px 0px 25px;padding-top:20px;padding-bottom:0px;word-break:break-word"
                                                align="left">
                                                <div style="font-family:Arial,sans-serif;font-size:13px;line-height:22px;text-align:left;color:#55575d">
                                                    <h1 style="font-size:20px">Welcome Aboard!</h1>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="background:#ffffff;font-size:0px;padding:0px 25px 0px 25px;padding-top:0px;padding-bottom:20px;word-break:break-word"
                                                align="left">
                                                <div style="font-family:Arial,sans-serif;font-size:13px;line-height:22px;text-align:left;color:#55575d">
                                                    <p style="font-size:13px;line-height:9px;margin:10px 0">
                                                        <span style="font-family:Trebuchet MS,Helvetica,Arial,sans-serif">
                                                            <b style="font-weight:700">Dear Alumni,</b>
                                                        </span>
                                                    </p>
                                                    <p style="font-size:13px;line-height:15px;margin:10px 0">
                                                        <span style="font-family:Trebuchet MS,Helvetica,Arial,sans-serif">
                                                            Thank You for registering on the Student Alumni Cell (SAC) Portal, IIITDM Jabalpur!
                                                        </span>
                                                    </p>
                                                    <p style="font-size:13px;line-height:15px;margin:10px 0">
                                                        <span style="font-family:Trebuchet MS,Helvetica,Arial,sans-serif">
                                                            <b style="font-weight:700">
                                                                <span style="font-weight:700;text-decoration:underline">Details</span>
                                                            </b>
                                                        </span>
                                                    </p>
                                                    <p style="font-size:13px;line-height:9px;margin:10px 0">
                                                        <span style="font-family:Trebuchet MS,Helvetica,Arial,sans-serif">
                                                            <span style="text-decoration:none"><b style="font-weight:700">Name</b> - {{ name }}</span>
                                                        </span>
                                                    </p>
                                                    <p style="font-size:13px;line-height:9px;margin:10px 0">
                                                        <span style="font-family:Trebuchet MS,Helvetica,Arial,sans-serif">
                                                            <span style="text-decoration:none">
                                                                <b style="font-weight:700">Email</b> - 
                                                                <a href="mailto:{{ email }}" target="_blank">{{ email }}</a>
                                                            </span>
                                                        </span>
                                                    </p>
                                                    <p style="font-size:13px;line-height:9px;margin:10px 0">
                                                        <span style="font-family:Trebuchet MS,Helvetica,Arial,sans-serif">
                                                            <span style="text-decoration:none"><b style="font-weight:700">Batch</b> - {{ from }} - {{ to }}</span>
                                                        </span>
                                                    </p>
                                                    <p style="font-size:13px;line-height:9px;margin:10px 0">
                                                        <span style="font-family:Trebuchet MS,Helvetica,Arial,sans-serif">
                                                            <span style="text-decoration:none"><b style="font-weight:700">Programme</b> - {{ prog }}</span>
                                                        </span>
                                                    </p>
                                                    <p style="font-size:13px;line-height:9px;margin:10px 0">
                                                        <span style="font-family:Trebuchet MS,Helvetica,Arial,sans-serif">
                                                            <span style="text-decoration:none"><b style="font-weight:700">Branch</b> - {{ branch }}</span>
                                                        </span>
                                                    </p>
                                                    <p style="font-size:13px;line-height:9px;margin:10px 0">
                                                        <span style="font-family:Trebuchet MS,Helvetica,Arial,sans-serif">
                                                            <span style="text-decoration:underline"><b style="font-weight:700">Alumni Registration Number</b></span> - {{ reg_no }}
                                                        </span>
                                                    </p>
                                                    <p style="font-size:13px;line-height:9px;margin:10px 0">
                                                        <span style="font-family:Trebuchet MS,Helvetica,Arial,sans-serif">
                                                            <b style="font-weight:700">Login ID</b> - {{ roll_no }}
                                                        </span>
                                                    </p>
                                                    <p style="font-size:13px;line-height:14px;margin:10px 0">
                                                        <span style="font-family:Trebuchet MS,Helvetica,Arial,sans-serif">
                                                            <b style="font-weight:700">Password Reset Link</b> -
                                                            <a href="{{ pass }}"
                                                                target="_blank">{{ pass }}</a>
                                                        </span>
                                                    </p>
                                                    <p style="font-size:13px;line-height:14px;margin:10px 0"> </p>
                                                    <p style="font-size:13px;line-height:14px;margin:10px 0">
                                                        <span style="font-family:Trebuchet MS,Helvetica,Arial,sans-serif">
                                                            This Link will be active only for 24 hrs. Please set your password within the time frame.
                                                        </span>
                                                    </p>
                                                    <p style="font-size:13px;line-height:14px;margin:14px 0 10px">
                                                        <span style="font-family:Trebuchet MS,Helvetica,Arial,sans-serif">
                                                            <span style="text-decoration:none">
                                                                Please use your Alumni Registration Number for future references and endeavours.
                                                            </span>
                                                        </span>
                                                    </p>
                                                    <p style="font-size:13px;line-height:14px;margin:10px 0">
                                                        <span style="font-family:Trebuchet MS,Helvetica,Arial,sans-serif">
                                                            <span style="text-decoration:none">Apply for Alumni Card -
                                                                <a href="https://forms.gle/vwSEg5nMJTF5b7zG9" target="_blank">https://forms.gle/vwSEg5nMJTF5b7zG9</a>
                                                            </span>
                                                        </span>
                                                    </p>
                                                    <p style="font-size:13px;line-height:9px;margin:10px 0"><br>
                                                        <span style="font-family:Trebuchet MS,Helvetica,Arial,sans-serif">
                                                            <b style="font-weight:700">With Warm Regards,</b>
                                                        </span>
                                                    </p>
                                                    <p style="font-size:13px;line-height:9px;margin:10px 0">
                                                        <span style="font-family:Trebuchet MS,Helvetica,Arial,sans-serif">
                                                            <b style="font-weight:700">Student Alumni Cell, IIITDM Jabalpur</b>
                                                        </span>
                                                    </p>
                                                    <p style="font-size:13px;line-height:18px;margin:10px 0"> </p>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div style="font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">
                                <table style="vertical-align:top" width="100%" cellspacing="0" cellpadding="0"
                                    border="0">
                                    <tbody>
                                        <tr>
                                            <td style="font-size:0px;padding:10px 25px;word-break:break-word" align="center">
                                                <table style="border-collapse:collapse;border-spacing:0px"
                                                    cellspacing="0" cellpadding="0" border="0">
                                                    <tbody>
                                                        <tr>
                                                            <td style="width:91px">
                                                                <img alt=""
                                                                    src="http://xl2h2.mjt.lu/tplimg/xl2h2/b/xw5rx/tizt2.png"
                                                                    style="border:none;display:block;outline:none;text-decoration:none;height:auto;width:100%"
                                                                    title="" width="91" height="auto">
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-size:0px;padding:0px 25px 0px 25px;padding-top:0px;padding-bottom:0px;word-break:break-word"
                                                align="left">
                                                <div style="font-family:Arial,sans-serif;font-size:13px;line-height:22px;text-align:left;color:#55575d">
                                                    <p style="color:#55575d;font-family:Arial,sans-serif;font-size:13px;margin:10px 0;text-align:left">
                                                        <span style="font-family:Trebuchet MS,Helvetica,Arial,sans-serif">
                                                            Ask your Batchmates to join Student Alumni Cell (SAC), IIITDM
                                                            Jabalpur &amp; don&#39;t miss out exciting
                                                            news &amp; achievements of your Alma Mater!
                                                        </span>
                                                    </p>
                                                    <p style="color:#55575d;font-family:Arial,sans-serif;font-size:13px;margin:10px 0;text-align:left">
                                                        <span style="font-family:Trebuchet MS,Helvetica,Arial,sans-serif">Register Here - 
                                                            <a style="color:#1155cc" href="https://alumni.iiitdmj.ac.in/" target="_blank">https://alumni.iiitdmj.ac.in/</a>
                                                        </span>
                                                    </p>
                                                    <p style="color:#55575d;font-family:Arial,sans-serif;font-size:13px;margin:10px 0;text-align:left">
                                                        <span style="font-family:Trebuchet MS,Helvetica,Arial,sans-serif">
                                                            Also, do have a look at the Directory - 
                                                            <a href="https://alumni.iiitdmj.ac.in/members/" target="_blank">https://alumni.iiitdmj.ac.in/members/</a> 
                                                            to know more about your Alumni, Batch-mates, Juniors, etc.
                                                        </span>
                                                    </p>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="Margin:0px auto;max-width:600px">
            <table style="width:100%" cellspacing="0" cellpadding="0" border="0" align="center">
                <tbody>
                    <tr>
                        <td style="direction:ltr;font-size:0px;padding:20px 0px 20px 0px;text-align:center;vertical-align:top">
                            <div style="font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">
                                <table style="vertical-align:top" width="100%" cellspacing="0" cellpadding="0" border="0">
                                    <tbody>
                                        <tr>
                                            <td style="font-size:0px;padding:0px 20px 0px 20px;padding-top:0px;padding-bottom:0px;word-break:break-word"
                                                align="center">
                                                <div style="font-family:Arial,sans-serif;font-size:11px;line-height:22px;text-align:center;color:#55575d">
                                                    <p style="font-size:13px;margin:10px 0">
                                                        <span>
                                                            <b style="font-weight:400">You received this email because you are a member of Student Alumni Cell, IIITDM Jabalpur.
                                                                This e-mail was sent to <a href="mailto:{{ email }}" target="_blank">{{ email }}</a>;
                                                                feature to unsubscribe will be available soon.
                                                            </b>
                                                        </span>
                                                    </p>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-size:0px;padding:0px 20px 0px 20px;padding-top:0px;padding-bottom:0px;word-break:break-word"
                                                align="center">
                                                <div style="font-family:Arial,sans-serif;font-size:11px;line-height:22px;text-align:center;color:#55575d">
                                                    <p style="font-size:13px;margin:10px 0">
                                                        <b style="font-weight:700">
                                                            <span>PDPM Indian Institute of Information Technology, Design &amp; Manufacturing,
                                                                Jabalpur, M.P. - 482005
                                                            </span>
                                                        </b>
                                                    </p>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br>
</div>