.dpg-album-card-image {
    height:225px;
}
  
.dpg-album-card, .dpg-album-image {
    max-width:300px;
}

@media (max-width: 400px) {
    .dpg-album-image {
        max-width: 100%;
    }
}


/* CSS for MastHead-BG */

.masthead-bg{
    background-repeat: repeat-y;
    background-position-y: 300px;
}


/* Custom CSS for login.html */

.login-container{
    width: 40rem;
}

@media (max-width: 576px) {
    .login-container{
        width: 95%;
    }
}

@media (max-width: 400px) {
    .login-container{
        width: 100%;
    }
}


/* Custom CSS for Events Page */

.events-container{
    width: 70rem;
}

.events-container .card-footer{
    display: none;
}

@media (max-width: 991px) {
    .events-container .card-block .card-link {
        display: none;
    }
    .events-container .card-footer{
        display: block;
    }
}

@media (max-width: 576px) {
    .events-container{
        width: 95%;
    }
}

@media (max-width: 400px) {
    .events-container{
        width: 100%;
    }
}