{% extends 'globals/base.html' %}

{% load static %}

{% block title %}

Geolocation

{% endblock %}

{% block javascript %}

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
  integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
  crossorigin="" />
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css" />
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.css">
<link rel="stylesheet" href='{% static "geolocation/main.css" %}'/>

<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
  integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
  crossorigin=""></script>
<script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
<!-- <script type="text/javascript" src="https://maps.stamen.com/js/tile.stamen.js?v1.3.0"></script> -->
<script src="{% static 'geolocation/stamen-tiles.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.js"></script>


<script type="text/javascript">
  var data = {{ data | safe }}
</script>
<script src='{% static "geolocation/main.js" %}'></script>

{% endblock %}


{% block body %}
{% include 'globals/navbar.html' %}
<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->


<div class="p-0 m-0 masthead-bg w-100 h-100 parallax"
  style="min-height:300px !important; height:300px !important; background-position-y: 300px;"></div>

<header class="masthead text-center text-white d-flex" style="height:0px; min-height:300px;">
  <div class="container my-auto" style="margin-bottom:50px !important;">
    <div class="row">
      <div class="col-lg-8 mx-auto align-middle">
        <h1 class="text-uppercase mt-4">
          <strong>By Map</strong>
        </h1>
      </div>
    </div>
  </div>
</header>


<section id="services" class="bg-primary p-1">
</section>
<div style="width: 100%; margin: 0; min-height: 400px;">
  <div id="map"
    class="leaflet-container leaflet-touch leaflet-fade-anim leaflet-grab leaflet-touch-drag leaflet-touch-zoom"
    tabindex="0" style="height: 720px; position: relative; outline: none;"></div>
</div>

{% include 'globals/footer.html' %}

{% endblock %}