{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ username }} | Alumni Connect - IIITDMJ</title>

    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- Custom fonts for this template -->
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/startbootstrap-creative/5.0.2/css/creative.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "AluminiConnect/css/creative.css" %}" rel="stylesheet">

  </head>
  <body id="page-top" class="font-open-sans">
    
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top navbar-shrink" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">Alumni Connect</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="">Our Alumni</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#events">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#news">News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#gallery">Gallery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="">Newsletter</a>
                </li>
                {% if not user.is_authenticated %}
                <li class="nav-item">
                    <a class="btn btn-dark btn-xl js-scroll-trigger text-white" style="padding: .5rem 1rem;" href="./login/">Sign In</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="./profile/{{user.username}}/">Hi, {{ user.username }}!</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-dark btn-xl js-scroll-trigger text-white" style="padding: .5rem 1rem;" href="./logout/">Log Out</a>
                </li>
                {% endif %}
            </ul>
            </div>
        </div>
    </nav>

    <div class=" p-0 m-0 masthead-bg w-100 parallax shadow-sm" style="min-height:250px !important;height:270px !important;background-position-y: -400px"></div>
    <div style="height:150px;min-height: 150px;">

    </div>
    <section class="bg-transparent" id="events" style="padding-top:3rem">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 text-left p-2 mx-auto">

                    <!--   PROFILE PIC CARD  -->
                    <div class="card m-2 shadow-sm">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <img src="{% static "AluminiConnect/img/TulikaRuthNelson.jpg" %}" 
                                        alt="DP" class="img-fluid rounded-circle m-2"
                                        style="height:200px;width:200px; max-width:200px;max-height:200px;"
                                    />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <h3>{{username}}</h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 text-center font-open-sans">
                                    {{roll_no}}
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--   CONTACT INFO  -->
                    <div class="card m-2 shadow-sm">
                        <div class="card-header">
                            Contact Information
                        </div>
                        <div class="card-body">
                            <p class="m-2 font-weight-normal  text-muted mb-3">
                                <i class="fas fa-envelope font-weight-normal "></i>
                                &nbsp;{{ address }}
                            </p>
                            <p class="m-2 font-weight-normal  text-muted mb-3">
                                <i class="fas fa-phone font-weight-normal "></i>
                                &nbsp;{{ phone_no }}
                            </p>
                            <p class="m-2 font-weight-normal  text-muted mb-3">
                                <i class="fas fa-linkedin font-weight-normal "></i>
                                &nbsp;{{ linkedin }}
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last Visit on {{ last_visit }}</small>
                        </div>
                    </div>


                </div>
                <div class="col-lg-7 text-left p-2 mx-auto">

                    <!--   EDUCATION  -->
                    <div class="card m-2 shadow-sm">
                        <div class="card-header">
                            Education
                        </div>
                        <div class="card-body p-4">    
                            <h3 class="">{{ current_organisation }}</h3>
                            <p>{{ current_university }}</p>
                            <p>{{ current_postion }}</p>
                            <p class="font-weight-light">{{ programme }} {{ batch }} - {{ branch }}</p>
                        </div>
                    </div>

                    <!--   BLOGS  -->
                    <div class="card m-2 shadow-sm">
                        <div class="card-header">
                            Blogs
                        </div>
                        <div class="card-body p-4">    
                            <h3 class="">Blog title</h3>
                            <p>sdfsdfsdfsdfsdf sdfsdfsdf</p>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </section>  

    <section id="contact" class="text-white bg-dark">
        <div class="container">
            <div class="row font-open-sans">
    
            <div class="col-lg-3 text-white text-left">
                <h6 class="title text-uppercase border-bottom p-3" style="padding-left:0px !important">About</h6>
                <br>
                <ul class="list-unstyled">
                <li><a href="http://www.iiitdmj.ac.in/">Home</a></li>
                <li><a href="http://faculty.iiitdmj.ac.in/" target="_blank">Faculty</a></li>
                <li><a href="http://pbi.iiitdmj.ac.in/">PBI</a></li>
                <li><a href="http://www.iiitdmj.ac.in/rti.php">RTI</a></li>
                <li><a href="../site.iiitdmj.ac.in/download/IIIT%20Act%2030_of_2014.pdf">IIIT Act</a></li>
                <li><a href="http://www.iiitdmj.ac.in/maps_direction.php">Maps &amp; Directions</a></li>
                <li><a href="../site.iiitdmj.ac.in/download/taxi%20services.pdf">Taxi Services</a></li>
                </ul>
            </div>
            <div class="col-lg-3 text-white text-left">
                <h6 class="title text-uppercase border-bottom p-3" style="padding-left:0px !important">Important Links</h6>
                <br>
                <ul class="list-unstyled">
                <li><a href="http://www.iiitdmj.ac.in/academics/calendar.php#acad_cal">Academic Calendar</a></li>
                <li><a href="http://ict.iiitdmj.ac.in/index.html">Electronics and ICT Academy</a></li>
                <li><a href="http://efee.iiitdmj.ac.in/efee/">On Line Fee Payment</a></li>
                <li><a href="http://www.iiitdmj.ac.in/hindi.php">Hindi Notice Board</a></li>
                <li><a href="http://www.iiitdmj.ac.in/annual_report.php">Annual Report</a></li>
                <li><a href="http://www.iiitdmj.ac.in/annual_account.php">Annual Account</a></li>
                <li><a href="http://community.worldlibrary.in/?Affiliatikey=NDL-ZY1239" target="_blank">World e-book library</a></li>
                <li><a href="http://cec.nic.in/Pages/Home.aspx" target="_blank">Consortium for Educational Communication(CEC)</a></li>
                </ul>
            </div>
            <div class="col-lg-3 text-white text-left">
                <h6 class="title text-uppercase border-bottom p-3" style="padding-left:0px !important">Others</h6>
                <br>
                <ul class="list-unstyled">
                <li><a href="http://site.iiitdmj.ac.in/STSCCell/">SC/ST and Minority Cell</a></li>
                <li><a href="http://site.iiitdmj.ac.in/womencell/index.html">Women Cell</a></li>
                <li><a href="http://revista.iiitdmj.ac.in/">Revista</a></li>
                <li><a href="http://www.iiitdmj.ac.in/contact.php">Contacts</a></li>
                <li><a href="http://site.iiitdmj.ac.in/tenders.html">Tenders</a></li>
                <li><a href="http://site.iiitdmj.ac.in/home.html">Jobs</a></li>
                <li><a href="http://rajbhasha.iiitdmj.ac.in/" target="_blank">Sansthan Rajbhasha Vibhag</a></li>
                <li><a href="../web.iiitdmj.ac.in/download/notifications/List%20of%20Institute%20closed%20holidays%20for%20the%20calender%20year%202017.pdf">Closed Holiday 2017 </a></li>
                <li><a href="../web.iiitdmj.ac.in/download/notifications/List%20of%20Institute%20restricted%20holidays%20for%20the%20calender%20year%202017.pdf">Restricted Holiday 2017 </a></li>
                </ul>
            </div>
            <div class="col-lg-3 text-white text-left">
                <h6 class="title text-uppercase border-bottom p-3" style="padding-left:0px !important">Contact Us</h6>
                <br>
                <ul class="list-unstyled">
                <li><a href="#">Indian Institute of Information Technology Design & Manufacturing Jabalpur</a></li>
                <li><a href="#">Dumna Airport Road, Dumna - 482005</a></li>
                </ul>
                <ul class="list-unstyled">
                    <li><a href="../www.iiitdmj.ac.in/downloads/IIITDMJ%20Telephone%20Directory.pdf" target="_blank">Phone Directory</a></li>
                </ul>
            </div>
    
            </div>
        </div>
        </section>
    
        <!-- Bootstrap core JavaScript -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
            
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/js/bootstrap.bundle.min.js"></script>
    
        <!-- Plugin JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/scrollReveal.js/4.0.5/scrollreveal.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    
        <!-- Custom scripts for this template -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/startbootstrap-creative/5.0.2/js/creative.min.js"></script>
    
</body>
</html>