<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <p>{{ users.user.username }}'s Profile</p>
    <p>Hello {{ users.user.first_name }}. You're logged in!</p>
    <p>Hello {{ users.user.last_name }}. You're logged in!</p>
    <p>Hello {{ users.batch }}. You're logged in!</p>
    <p>Hello {{ users.sex }}. You're logged in!</p>
    <p>Hello {{ users.programme }}. You're logged in!</p>
    <p>Hello {{ users.branch }}. You're logged in!</p>
    <p>Hello {{ users.date_of_birth }}. You're logged in!</p>
    <p>Hello {{ users.linkedin }}. You're logged in!</p>
    {% if user.is_authenticated %}
    <p>You're logged in!</p>
    {% else %}
    <p>Please login to connect!</p>
    {% endif %}
</body>
</html>