<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
       {{ user_id }} <br>
       {{ roll_no }} <br>
       {{ batch }} <br>
       {{ programme }} <br>
       {{ branch }} <br>
       {{ sex }} <br>
       {{ date_of_birth }} <br>
       {{ address }}<br>
       {{ phone_no }}<br>
       {{ current_city }}<br>
       {{ current_organisation }}<br>
       {{ current_university }}<br>
       {{ current_position }}<br>
       {{ linkedin }}<br>
       {{ website }}<br>
       {{ profile_picture }}<br>
       {{ last_visit }}<br>
</body>
</html>