{% load static %}
<style>
  .black-layer{
    background-color: rgba(0,0,0,0.5);
    background-position: center center;
    background-size: cover;
  }
</style>

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="5000" data-pause="false">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        




        <div class="carousel-item active" style="background-image: url({% static 'AlumniConnect/img/new_header2.jpg' %})">
          <!--   WRITTEN CONTENT STARTS HERE    -->
          <div class="h-100 w-100 black-layer"></div>
          <div class="carousel-caption d-md-block" style="bottom:100px">
            <div class="row">
              <div class="col-lg-10 mx-auto">
                <h1 class="text-uppercase ">
                  <img src="{% static 'AlumniConnect/img/new_logo_min.png' %}" style="width: 4em; height: auto;">
                </h1>
                <hr>
              </div>
              <div class="col-lg-8 mx-auto">
                <h1 class="text-uppercase font-open-sans">
                  <strong>ALUMNI CONNECT</strong>
                </h1>
              </div>
            </div>
          </div>
          <!--    WRITTEN CONTENTS ENDS HERE   -->
        </div>





        <div class="carousel-item" style="background-image: url({% static 'AlumniConnect/img/new-col2.jpg' %})">
          <div class="carousel-caption d-none d-md-block">

            <!--   WRITTEN CONTENT STARTS HERE    
            <h2 class="display-4">Second Slide</h2>
            <p class="lead">This is a description for the second slide.</p>
            <!--    WRITTEN CONTENTS ENDS HERE   -->

          </div>
        </div>



        <div class="carousel-item" style="background-image: url({% static 'AlumniConnect/img/new_coll3.jpg' %})">
          <div class="carousel-caption d-none d-md-block">

            <!--   WRITTEN CONTENT STARTS HERE    
            <h2 class="display-4">Third Slide</h2>
            <p class="lead">This is a description for the third slide.</p>
            <p class="lead">This is a description for the second slide.</p>
            <!--    WRITTEN CONTENTS ENDS HERE   -->

          </div>
        </div>



      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
    </div>
  
  