{% load static %}

{% block css %}
<style>
    .footer {
        background-image: url("{% static 'AlumniConnect/img/logo/logo-blue.png' %}");
        background-size: 45rem;
        background-color: #212529;
        background-repeat: no-repeat;
        background-position: right;
        background-blend-mode:soft-light;
    }

    #contact {
        padding: 0;
        /* margin-top: 10px; */
        overflow: hidden;
        background-color: #212529;
    }

    .icon {
        background-color: blueviolet;
        height: 32px;
        width: 32px;
        padding: 10px;
        margin: 10px;
    }

    .margin {
        margin: 7px;
    }

    #side-logo {
        opacity: 0.2;
    }

    .no-decoration {
        text-decoration: none;
        color: azure;
    }

    .no-decoration i{
        color: white;
    }

    .no-decoration:hover {
        text-decoration: solid;
        color: #007bff;
    }
</style>
{% endblock %}

<!-- Footer -->
<section id="contact" class="text-white ">
    <div class="footer container-fluid p-3 m-3">
        <div class="row">
            <div class="col-lg-4 col-md-8 col-sm-10 col-10 mx-3">
                <div class="row bg-light text-dark rounded p-2">
                    <div class=" col-lg-3 col-md-3 col-sm-3 col-4">
                        <img src="{% static 'AlumniConnect/img/logo-min.png' %}" alt="">
                    </div>
                    <div class="-xs-10 col-lg-9 col-md-9 col-sm-8 col-8 ">
                        Indian Institute of Information and Technology, Desing and Manufacturing Jabalpur
                    </div>
                </div>
                <div class="row justify-content-end mb-5">
                    <a href="https://www.facebook.com/iiitdm.jbp/" target="_blank" class="margin">
                        <i class="fab fa-facebook fa-2x" style="color: white;"></i>
                    </a>

                    <a href="https://www.linkedin.com/school/indian-institute-of-information-technology-design-and-manufacturing-jabalpur/" target="_blank" class="margin">
                        <i class="fab fa-linkedin fa-2x"  style="color: white;"></i>
                    </a>
                    <a href="https://twitter.com/iiitdmjbp" target="_blank" class="margin">
                        <i class="fab fa-twitter fa-2x" style="color: white;"></i>
                    </a>
                    
                    <a href="https://www.iiitdmj.ac.in/" target="_blank" class="margin">
                        <i class="fas fa-globe fa-2x " style="color: white;"></i>
                    </a>
                </div>
            </div>

        </div>
        <div class="row pt-3 pl-md-2">
            <div class="col-md-4 mt-2 mb-4">
                <h4 class="mb-3 border-bottom">Address</h4>
                <div>
                    PDPM Indian Institute of Information Technology Design & Manufacturing Jabalpur,
                    Airport Rd,
                    Khamaria, Dumna,
                    Madhya Pradesh 482005
                </div>
                <div class="mt-2">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3667.815842743628!2d80.02239941480383!3d23.17692048487516!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3981a94397365dd3%3A0x5f9aeb812c2678c9!2sIIITDM%20Jabalpur!5e0!3m2!1sen!2sin!4v1649348570857!5m2!1sen!2sin" style="border:0;width:20em;height:10em;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="mt-2">
                    <a href="http://www.iiitdmj.ac.in/maps_direction.php" target="_blank" class="no-decoration">Get Directions</a>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 mt-2 mb-4">
                <h4 class="mb-3 border-bottom">Connect with Us</h4>
                <div>
                    <a href="https://www.facebook.com/groups/iiitdmj/" target="_blank" class="no-decoration"><i class="fab fa-facebook" style="font-size: 22px; vertical-align: top;"></i>&nbsp; IIITDMJ Alumni Group</a>
                </div>
                <div>
                    <a href="https://www.facebook.com/iiitdmplacement/" target="_blank" class="no-decoration"><i class="fab fa-facebook" style="font-size: 22px; vertical-align: top;"></i>&nbsp; Placement Cell</a>
                </div>
                <div>
                    <a href="https://www.linkedin.com/in/placementiiitdmj/" target="_blank" class="no-decoration"><i class="fab fa-linkedin" style="font-size: 22px; vertical-align: top;"></i>&nbsp; Placement Cell</a>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 mt-2 mb-4">
                <h4 class="mb-3 border-bottom">Contact Us</h4>
                <div>
                    <div>
                        <b>
                            Prof. Puneet Tandon<br>Prof. In-Charge, Alumni Cell
                        </b>
                    </div>
                    <div class="icon-detail">
                        <i class="fas fa-phone-square fa-rotate-90"></i>
                        +91 9425324240 (Phone)
                    </div>
                    <div class="icon-detail">
                        <i class="fas fa-phone-square fa-rotate-90"></i>
                        +91 761 2794411 (Office)
                    </div>
                </div>
                <div class="mt-3 pt-1">
                    <div>
                        <b>
                            Mr. Omvir Singh Bhadauria<br>Assistant Registrar
                        </b>
                    </div>
                    <div class="icon-detail">
                        <i class="fas fa-phone-square fa-rotate-90"></i>
                        +91 761 2794143 (Office)
                    </div>
                </div>
                <div class="mt-3 pt-1">
                    <span class="icon-detail">
                        <i class="far fa-envelope"></i>
                        <a class="text-white" href="mailto:alumni@iiitdmj.ac.in">alumni@iiitdmj.ac.in</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>