{% load static %}

<div class="container">

    <!-- 
    
    <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Thumbnail Gallery</h1>
  
    <hr class="mt-2 mb-5">

    -->
  
    <div class="row text-center text-lg-left">

    <div class="col-lg-3 col-md-4 col-xs-6 thumb mb-4">
      <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
         data-image="{% static 'AlumniConnect/img/gallery.jpg' %}"
         data-target="#image-gallery">
          <img class="img-thumbnail"
               src="{% static 'AlumniConnect/img/gallery.jpg' %}"
               alt="Another alt text">
      </a>
  </div>
      <div class="col-lg-3 col-md-4 col-xs-6 thumb mb-4">
        <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
          data-image="{% static 'AlumniConnect/img/gallery.jpg' %}"
          data-target="#image-gallery">
            <img class="img-thumbnail"
                src="{% static 'AlumniConnect/img/gallery.jpg' %}"
                alt="Another alt text">
        </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6 thumb mb-4">
      <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
        data-image="{% static 'AlumniConnect/img/gallery.jpg' %}"
        data-target="#image-gallery">
          <img class="img-thumbnail"
              src="{% static 'AlumniConnect/img/gallery.jpg' %}"
              alt="Another alt text">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6 thumb mb-4">
      <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
        data-image="{% static 'AlumniConnect/img/gallery.jpg' %}"
        data-target="#image-gallery">
          <img class="img-thumbnail"
              src="{% static 'AlumniConnect/img/gallery.jpg' %}"
              alt="Another alt text">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6 thumb mb-4">
      <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
        data-image="{% static 'AlumniConnect/img/gallery.jpg' %}"
        data-target="#image-gallery">
          <img class="img-thumbnail"
              src="{% static 'AlumniConnect/img/gallery.jpg' %}"
              alt="Another alt text">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6 thumb mb-4">
      <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
        data-image="{% static 'AlumniConnect/img/gallery.jpg' %}"
        data-target="#image-gallery">
          <img class="img-thumbnail"
              src="{% static 'AlumniConnect/img/gallery.jpg' %}"
              alt="Another alt text">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6 thumb mb-4">
      <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
        data-image="{% static 'AlumniConnect/img/gallery.jpg' %}"
        data-target="#image-gallery">
          <img class="img-thumbnail"
              src="{% static 'AlumniConnect/img/gallery.jpg' %}"
              alt="Another alt text">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6 thumb mb-4">
      <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
        data-image="{% static 'AlumniConnect/img/gallery.jpg' %}"
        data-target="#image-gallery">
          <img class="img-thumbnail"
              src="{% static 'AlumniConnect/img/gallery.jpg' %}"
              alt="Another alt text">
      </a>
    </div>

    </div>
    <div class="modal fade" id="image-gallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
          <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title" id="image-gallery-title"></h4>
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span>
                  </button>
              </div>
              <div class="modal-body">
                  <img id="image-gallery-image" class="img-responsive col-md-12" src="">
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary float-left" id="show-previous-image"><i class="fa fa-arrow-left"></i>
                  </button>

                  <button type="button" id="show-next-image" class="btn btn-secondary float-right"><i class="fa fa-arrow-right"></i>
                  </button>
              </div>
          </div>
      </div>
  </div>
  
  </div>