{% extends 'globals/base.html' %}
{% load static %}
{% load thumbnail %}
{% block css %}
<style>
	.map-container {
		overflow: hidden;
		padding-bottom: 56.25%;
		position: relative;
		height: 0;
	}

	.map-container iframe {
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		position: absolute;
	}
</style>
<link rel="stylesheet" href="{% static 'external/photoswipe/photoswipe.css' %}"> 
<link rel="stylesheet" href="{% static 'external/photoswipe/default-skin/default-skin.css' %}"> 
{% endblock %}
{% block body %}
{% include 'globals/navbar.html' %}
<div class=" p-0 m-0 masthead-bg w-100 parallax shadow-sm" style="min-height:250px !important; height:270px !important; background-position-y: 270px"></div>
<div style="height:150px; min-height:150px;">

</div>
<section class="bg-transparent" id="events" style="padding-top:3rem">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 text-left px-2 py-0 py-lg-2 mx-auto">

				<!--   PIC CARD  -->
				<div class="card m-2 shadow-sm">
					<div class="card-body p-1">
						{% if event.picture %}
						<img src="{{ event.picture.url }}" alt="DP" class="img-fluid h-100 w-100" style="max-height: 350px;" />
						{% else %}
						<img src="{% static 'AluminiConnect/img/event.png' %}" alt="DP" class="img-fluid h-100 w-100" style="max-height: 350px;" />
						{% endif %}
					</div>
				</div>

				<!--   TITLE FOR MOBILE   -->
				<div class="card m-2 shadow-sm d-block d-lg-none">

					<div class="card-body p-4">
						<h1 class="mb-3">{{ event.title|safe }}</h1>
						<p class="font-weight-light m-0">

							<span class="d-inline-block pb-2">
								<i class="fas fa-table"></i>
								{{ event.start_date|date:"d M, o" }}
								&nbsp;
							</span>
							<span class="d-inline-block mb-2">
								<i class="fas fa-map-marker-alt"></i>
								{{ event.location}}
								&nbsp;
							</span>
							<span class="d-inline-block mb-2">
								<i class="fas fa-user"></i>
								{{ event.by }}
							</span>
						</p>
						<div class="row">
							{% if event.is_completed %}
						<button type="button" class="btn btn-secondary btn-sm px-4 py-2 mt-2" disabled>Event Ended</button>
						{% elif not check %}
						<form method="POST">
							{% csrf_token %}
							<button type="submit" name="submit" value="rsvp" class="btn btn-success btn-sm px-4 py-2 mt-2">Register</button>
						</form>
						{% else %}
						<form method="POST">
							{% csrf_token %}
							<button type="button"  class="btn btn-success btn-sm px-4 py-2 mt-2" disabled>Registered</button>
							<button type="submit" name="submit" value="rsvp_del" class="btn btn-danger btn-sm px-4 py-2 mt-2">Remove Registration</button>
						</form>
						{% endif %}
						<!-- Social Sharing -->
						<div class="dropdown d-inline-block " style="margin-left: 3px;">
							<button class="btn btn-primary btn-sm px-4 py-2 mt-2 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Share
							</button>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							<!-- Dropdown menu links -->
								<a href="https://www.facebook.com/sharer.php?u= {{ base_uri }}" target="_blank" title="Facebook Share" class="dropdown-item" >Facebook</a>

								<a href="https://twitter.com/share?text=Attending%20this%20event%20at%20IIITDM%20Jabalpur. &url= {{ base_uri }}" target="_blank" title="Twitter Share" class="dropdown-item"  >Twitter</a>

								<a href="https://www.linkedin.com/shareArticle?mini=true&url= {{ base_uri }}" target="_blank" title="LinkedIn Share"  class="dropdown-item" >LinkedIn</a>

							</div>
						</div>
						</div>
					</div>
				</div>

					<!--  START END DATE  -->
					<div class="card m-2 shadow-sm">
						<div class="card-header">
							<i class="fas fa-clock pr-2"></i>
							Schedule
						</div>
						<div class="card-body">
							<p class="m-2 font-weight-normal mb-3">

								<small>Starts at <b>{{event.start_date|date:"h:i A"}} IST</b> on <b>{{event.start_date|date:"d M, o"}}</b></small>
								<br>
								<small>Ends at <b>{{event.end_date|date:"h:i A"}} IST</b> on <b>{{event.end_date|date:"d M, o"}}</b></small>


							</p>
						</div>
					</div>

					<!--  Attendees -->
					<div class="card m-2 shadow-sm">
						<div class="card-header">
							<i class="fas fa-users pr-2"></i>
							Attendees 
							<span class="badge badge-light border rounded" style="background: #fff;font-size:0.9rem"><b>{{count}}</b></span>
							<span class="sr-only">Number of attendees</span>

							{% if count > 0 %}
								<span style="float: right;">
									<button type="button" data-toggle="modal" data-target="#attendees-modal" class="btn btn-primary btn-sm">
										View All
									</button>
								</span>
							{% endif %}
						</div>
						{% if count > 0 %}
						<div class="card-body">
							<p class="m-2 font-weight-normal mb-3">

				<!-- not tested but doesnt give an error -->
                  {% for a in attendees_sliced %}            
                    {% if a.user_id__profile__profile_picture %}
                    <img src="{% thumbnail a.user_id__profile__profile_picture 30x30 crop %}" 
                        alt="DP" class="img-fluid rounded-circle m-1"
                        style="object-fit:cover; object-position:50% 0%; height:30px; 
                          width:30px; max-width:30px;max-height:30px;"
                        title="{{a.user_id__profile__name}}"
                    />
                    {% else %}
                    <img src="{% static 'AluminiConnect/img/user.png' %}" 
                        alt="DP" class="img-fluid rounded-circle m-1"
                        style="height:30px;width:30px; max-width:30px;max-height:30px;"
                        title="{{a.user_id__profile__name}}"
                    />
                    {% endif %}
								{% endfor %}
								{% if count_difference > 0 %}
									<a href="#attendees-modal" class="d-inline-block pt-2" data-toggle="modal"> +{{ count_difference }} More</a>
								{% endif %}

								<!-- attendees - list -->
								<div class="modal fade" id="attendees-modal" tabindex="-1" role="dialog"
									aria-labelledby="modalTitle" aria-hidden="true">
									<div class="modal-dialog" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title" id="modalTitle">Attendees</h5>
												<button type="button" class="close" data-dismiss="modal" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
											</div>
											<div class="modal-body">
                          <div class="list-group">
                              {% for a in attendees %}            
                                <a class="list-group-item  list-group-item-action" 
                                  href="/profile/{{ a.user_id__username }}"> <!-- Link to atteendee's profile -->
                                  <!-- href="{'%' url 'profile:profile' username=a.user_id__username %}" 
                                        is what you need but username=admin gives me error becouse only 
                                        numeric username(roll no) are accepted.
																	-->
                                  {% if a.user_id__profile__profile_picture %}
					                <img src="{% thumbnail a.user_id__profile__profile_picture 30x30 crop %}"
                                      alt="DP" class="img-fluid rounded-circle m-0"
                                      style="object-fit:cover; object-position:50% 0%; height:30px; 
                                        width:30px; max-width:30px;max-height:30px;"
                                    />
                                  {% else %}
                                  <img src="{% static 'AluminiConnect/img/user.png' %}" 
                                      alt="DP" class="img-fluid rounded-circle m-0"
                                      style="height:30px;width:30px; max-width:30px;max-height:30px;"
                                  />
                                  {% endif %}
                                  {{a.user_id__profile__name}}
                                </a>
                              {% endfor %}
                          </div>
											</div>
										</div>
									</div>
								</div>
							</p>
						</div>
						{% endif %}
					</div>

					<!--   ADDRESS  -->
					<div class="card m-2 shadow-sm">
						<div class="card-header">
							<i class="fas fa-map-marker-alt pr-2"></i>
							Address
						</div>
						<div class="card-body p-4">
							<p>{{event.address|safe}}</p>
							<br>
							<!--Google map-->

							<div id="map-container-google-9" class="z-depth-1-half map-container" style="height: 300px">
								<iframe
									src="https://maps.google.com/maps?q={{event.address|safe}}&t=&z=13&ie=UTF8&iwloc=&output=embed"
									frameborder="0" style="border:0" allowfullscreen></iframe>
							</div>

							<!--Google Maps-->
						</div>
					</div>


				</div>
				<div class="col-lg-8 text-left px-2 py-0 py-lg-2 mx-auto">

					<!--   TITLE FOR PC   -->
					<div class="card m-2 shadow-sm d-none d-lg-block">
						<div class="card-body p-4">
							<h1 class="mb-3">{{ event.title|safe }}</h1>
							<p class="font-weight-light m-0">

								<span class="d-inline-block pb-2">
									<i class="fas fa-table"></i>
									{{ event.start_date|date:"d M, o" }}
									&nbsp;
								</span>
								<span class="d-inline-block mb-2">
									<i class="fas fa-map-marker-alt"></i>
									{{ event.location}}
									&nbsp;
								</span>
								<span class="d-inline-block mb-2">
									<i class="fas fa-user"></i>
									{{ event.by }}
								</span>
							</p>
							
							<div class="row">
								
								{% if event.is_completed %}
								<button type="button" class="btn btn-secondary btn-sm px-4 py-2 mt-2" disabled>Event Ended</button>
								{% elif not check %}
								<form method="POST">
									{% csrf_token %}
									<button type="submit" name="submit" value="rsvp" class="btn btn-success btn-sm px-4 py-2 mt-2">Register</button>
								</form>
								{% else %}
								<form method="POST">
									{% csrf_token %}
									<button type="button"  class="btn btn-success btn-sm px-4 py-2 mt-2" disabled>Registered</button>
									<button type="submit" name="submit" value="rsvp_del" class="btn btn-danger btn-sm px-4 py-2 mt-2">Remove Registration</button>
								</form>
								{% endif %}

								<!-- Social Sharing -->
								<div class="dropdown d-inline-block " style="margin-left: 3px;">
									<button class="btn btn-primary btn-sm px-4 py-2 mt-2 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Share
									</button>
									<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
									<!-- Dropdown menu links -->
										<a href="https://www.facebook.com/sharer.php?u= {{ base_uri }}" target="_blank" title="Facebook Share" class="dropdown-item" >Facebook</a>

										<a href="https://twitter.com/share?text=Attending%20this%20event%20at%20IIITDM%20Jabalpur. &url= {{ base_uri }}" target="_blank" title="Twitter Share" class="dropdown-item"  >Twitter</a>

										<a href="https://www.linkedin.com/shareArticle?mini=true&url={{ base_uri }}" target="_blank" title="LinkedIn Share"  class="dropdown-item" >LinkedIn</a>

									</div>
								</div>
							</div>
						</div>
					</div>



					<!--   DESCRIPTON  -->
					<div class="card m-2 shadow-sm">
						<div class="card-header">
							<i class="fas fa-th-list pr-2"></i>
							Description
						</div>
						<div class="card-body p-4">
							<p>{{event.description|safe}}</p>
						</div>
					</div>

					<!--   GALLERY  -->
					<div class="card m-2 shadow-sm">
						<div class="card-header">
							<i class="fas fa-images pr-2"></i>
							Gallery
							{% if album_present %}
							<span style="float: right;">
							<a href="{% url 'gallery:album' album.slug %}" class="btn btn-primary btn-sm">
									View All
							</a>
							</span>
							{% endif %}
						</div>
						<div class="card-body p-4">
							<div class="container">
							<div class="row">
								{% for item in images %}
								<a class="col-12 col-sm mb-3 text-center d-inline-block" href="javascript:pswpInit({{ forloop.counter0 }});">
									<img src="{{ item.thumb.url }}" class="responsive-img dpg-album-image" alt="{{ item.alt }}" />
								</a>
								{% endfor %}
							</div>
							</div>
							<p></p>
						</div>
					</div>


				</div>
			</div>
			
		</div>	
</section>
{% include 'globals/init_pwsp.html' %}
{% include 'globals/footer.html' %}

{% endblock %}
{% block javascript %}
    <script>
        // build the json album images collection 
        window.djangoAlbumImages = [
            {% for item in images %}
                {
                    src: '{{ item.image.url }}',
                    w:  {{ item.width }},
                    h:  {{ item.height }}
                },
            {% endfor %}
        ];
    </script>
    <script src="{% static 'external/photoswipe/photoswipe.min.js' %}"></script> 
    <script src="{% static 'external/photoswipe/photoswipe-ui-default.min.js' %}"></script>
{% endblock %}