{% extends 'globals/base.html' %}
{% load static %}

{% block css %}
<style>
	.map-container {
		overflow: hidden;
		padding-bottom: 56.25%;
		position: relative;
		height: 0;
	}

	.map-container iframe {
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		position: absolute;
	}
</style>
{% endblock %}
{% block body %}
{% include 'globals/navbar.html' %}
<div class=" p-0 m-0 masthead-bg w-100 parallax shadow-sm"
	style="min-height:250px !important;height:270px !important;background-position-y: -400px"></div>
<div style="height:150px;min-height: 150px;">

</div>
<section class="bg-transparent" id="events" style="padding-top:3rem">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 text-left p-2 mx-auto">

				<!--   PIC CARD  -->
				<div class="card m-2 shadow-sm">
					<div class="card-body p-1">
						{% if event.picture %}
						<img src="{{ event.picture.url }}"
                                alt="DP" class="img-fluid h-100 w-100"
                                style=""
                            />
                            {% else %}
						<img src="{% static "AluminiConnect/img/event.png" %}"
                                alt="DP" class="img-fluid h-100 w-100"
                                style=""
                            />
                            {% endif %}
                        </div>
					</div>

					<!--  START END DATE  -->
					<div class="card m-2 shadow-sm">
						<div class="card-header">
							<i class="fas fa-clock pr-2"></i>
							Schedule
						</div>
						<div class="card-body">
							<p class="m-2 font-weight-normal mb-3">

								<small>Starts at <b>{{event.start_date|date:"h:i A"}} IST</b> on <b>{{event.start_date|date:"d M, o"}}</b></small>
								<br>
								<small>Ends at <b>{{event.end_date|date:"h:i A"}} IST</b> on <b>{{event.end_date|date:"d M, o"}}</b></small>


							</p>
						</div>
					</div>

					<!--  Attendees -->
					<div class="card m-2 shadow-sm">
						<div class="card-header">
							<i class="fas fa-users pr-2"></i>
							Attendees {{count}}
						</div>
						<div class="card-body">
							<p class="m-2 font-weight-normal mb-3">

								<!-- Meru_need_help_here -->
								<!-- Limit this attendees list to 16 attendees only -->
								<!--     "for a in attendees[:16]" is not working here -->
                  {% for a in attendees %}            
                    {% if a.profile_picture %}
                    <img src="{{ a.profile_picture_url }}" 
                        alt="DP" class="img-fluid rounded-circle m-1"
                        style="object-fit:cover; object-position:50% 0%; height:30px; 
                          width:30px; max-width:30px;max-height:30px;"
                        title="{{a.user_id__profile__name}}"
                    />
                    {% else %}
                    <img src="{% static "AluminiConnect/img/user.png" %}" 
                        alt="DP" class="img-fluid rounded-circle m-1"
                        style="height:30px;width:30px max-width:30px;max-height:30px;"
                        title="{{a.user_id__profile__name}}"
                    />
                    {% endif %}
                {% endfor %}
                <br><br>
								<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#attendees-modal">
                            See All
						</button>

								<!-- attendees - list -->
								<div class="modal fade" id="attendees-modal" tabindex="-1" role="dialog"
									aria-labelledby="modalTitle" aria-hidden="true">
									<div class="modal-dialog" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title" id="modalTitle">Attendees</h5>
												<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
											</div>
											<div class="modal-body">
                          <div class="list-group">
                              {% for a in attendees %}            
                                <a class="list-group-item  list-group-item-action" 
                                  href="{{ a.profile_link }}"> <!-- Link to atteendee's profile -->
                                  {% if a.profile_picture %}
                                  <img src="{{ a.profile_picture_url }}" 
                                      alt="DP" class="img-fluid rounded-circle m-0"
                                      style="object-fit:cover; object-position:50% 0%; height:30px; 
                                        width:30px; max-width:30px;max-height:30px;"
                                  />
                                  {% else %}
                                  <img src="{% static "AluminiConnect/img/user.png" %}" 
                                      alt="DP" class="img-fluid rounded-circle m-0"
                                      style="height:30px;width:30px max-width:30px;max-height:30px;"
                                  />
                                  {% endif %}
                                  {{a.user_id__profile__name}}
                                </a>
                              {% endfor %}
                          </div>
											</div>
										</div>
									</div>
								</div>
							</p>
						</div>
					</div>

					<!--   ADDRESS  -->
					<div class="card m-2 shadow-sm">
						<div class="card-header">
							<i class="fas fa-map-marker-alt pr-2"></i>
							Address
						</div>
						<div class="card-body p-4">
							<p>{{event.address|safe}}</p>
							<br>
							<!--Google map-->

							<div id="map-container-google-9" class="z-depth-1-half map-container" style="height: 300px">
								<iframe
									src="https://maps.google.com/maps?q={{event.address|safe}}&t=&z=13&ie=UTF8&iwloc=&output=embed"
									frameborder="0" style="border:0" allowfullscreen></iframe>
							</div>

							<!--Google Maps-->
						</div>
					</div>


				</div>
				<div class="col-lg-8 text-left p-2 mx-auto">

					<!--   TITLE  -->
					<div class="card m-2 shadow-sm">

						<div class="card-body p-4">
							<h1 class="mb-3">{{ event.title|safe }}</h1>
							<p class="font-weight-light m-0">

								<i class="fas fa-table"></i>
								{{ event.start_date|date:"d M, o" }}
								&nbsp;
								<i class="fas fa-map-marker-alt"></i>&nbsp;
								{{ event.location}}
								&nbsp;
								<i class="fas fa-user"></i>&nbsp;
								{{ event.by }}
								<br><br>
                               {% if event.is_completed %}
								<button type="button"  class="btn btn-secondary btn-sm" disabled>Event Ended</button>
								{% elif not check %}
								<form method="POST">
									{% csrf_token %}
									<button type="submit" name="submit" value="rsvp" class="btn btn-success btn-sm">Register</button>
								</form>
								{% else %}
								<button type="button"  class="btn btn-success btn-sm" disabled>Registered</button>
								{% endif %}


							</p>
						</div>
					</div>



					<!--   DESCRIPTON  -->
					<div class="card m-2 shadow-sm">
						<div class="card-header">
							<i class="fas fa-th-list pr-2"></i>
							Description
						</div>
						<div class="card-body p-4">
							<p>{{event.description|safe}}</p>
						</div>
					</div>

					<!--   GALLERY  -->
					<div class="card m-2 shadow-sm">
						<div class="card-header">
							<i class="fas fa-images pr-2"></i>
							Gallery
						</div>
						<div class="card-body p-4">
							{% include 'globals/thumbnails.html' %}
							<p></p>
						</div>
					</div>


				</div>
			</div>
		</div>
</section>

{% include 'globals/footer.html' %}


<script type="text/javascript">
	let modalId = $('#image-gallery');
    
    $(document)
      .ready(function () {
    
        loadGallery(true, 'a.thumbnail');
    
        //This function disables buttons when needed
        function disableButtons(counter_max, counter_current) {
          $('#show-previous-image, #show-next-image')
            .show();
          if (counter_max === counter_current) {
            $('#show-next-image')
              .hide();
          } else if (counter_current === 1) {
            $('#show-previous-image')
              .hide();
          }
        }
    
        /**
         *
         * @param setIDs        Sets IDs when DOM is loaded. If using a PHP counter, set to false.
         * @param setClickAttr  Sets the attribute for the click handler.
         */
    
        function loadGallery(setIDs, setClickAttr) {
          let current_image,
            selector,
            counter = 0;
    
          $('#show-next-image, #show-previous-image')
            .click(function () {
              if ($(this)
                .attr('id') === 'show-previous-image') {
                current_image--;
              } else {
                current_image++;
              }
    
              selector = $('[data-image-id="' + current_image + '"]');
              updateGallery(selector);
            });
    
          function updateGallery(selector) {
            let $sel = selector;
            current_image = $sel.data('image-id');
            $('#image-gallery-title')
              .text($sel.data('title'));
            $('#image-gallery-image')
              .attr('src', $sel.data('image'));
            disableButtons(counter, $sel.data('image-id'));
          }
    
          if (setIDs == true) {
            $('[data-image-id]')
              .each(function () {
                counter++;
                $(this)
                  .attr('data-image-id', counter);
              });
          }
          $(setClickAttr)
            .on('click', function () {
              updateGallery($(this));
            });
        }
      });
    
    // build key actions
    $(document)
      .keydown(function (e) {
        switch (e.which) {
          case 37: // left
            if ((modalId.data('bs.modal') || {})._isShown && $('#show-previous-image').is(":visible")) {
              $('#show-previous-image')
                .click();
            }
            break;
    
          case 39: // right
            if ((modalId.data('bs.modal') || {})._isShown && $('#show-next-image').is(":visible")) {
              $('#show-next-image')
                .click();
            }
            break;
    
          default:
            return; // exit this handler for other keys
        }
        e.preventDefault(); // prevent the default action (scroll / move caret)
      });
    
</script>
{% endblock %}