.marker-cluster-map {
    border-radius: 50%;
    text-align: center;
    color: white;
    box-shadow: 0px 3px 7px -2px rgb(40, 40, 40);
    font-weight: 700;
    background: #324B7E;
}

.marker-cluster-map:before {
    content: ' ';
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
}

.digits-1 {
    font-size: 1rem;
    height: 28px;
    width: 28px;
    line-height: 28px;
    margin-top: -14px;
    margin-left: -14px;
}

.digits-2 {
    font-size: 1.2rem;
    height: 34px;
    width: 34px;
    line-height: 35px;
    margin-top: -19px;
    margin-left: -17px;
}

.digits-2:before {
    border-width: 2px;
}

.digits-3 {
    font-size: 1.4rem;
    height: 48px;
    width: 47px;
    line-height: 44px;
    border-width: 3px;
    margin-top: -24px;
    margin-left: -24px;
}

.digits-3:before {
    border-width: 3px;
}

.digits-4 {
    font-size: 1.6rem;
    height: 58px;
    width: 58px;
    line-height: 57px;
    border-width: 4px;
    margin-top: -29px;
    margin-left: -29px;
}

.digits-4:before {
    border-width: 4px;
}

.digits-5 {
    font-size: 1.8rem;
    height: 68px;
    width: 68px;
    line-height: 67px;
    border-width: 4px;
    margin-top: -34px;
    margin-left: -34px;
}

.digits-5:before {
    border-width: 4px;
}