{% extends 'globals/base.html' %}
{% load crispy_forms_tags %}

{% load static %}

{% block title %}
AlumniConnect
{% endblock %}

{% block body %}
{% include 'globals/navbar.html' %}
<div class="p-0 m-0 masthead-bg w-100 h-100 parallax" style="min-height:300px !important; height:300px !important; background-position-y: 300px;"></div>

<header class="masthead text-center text-white d-flex" style="height:0px; min-height:300px;">
   <div class="container my-auto" style="margin-bottom:50px !important;">
      <div class="row">
         <div class="col-lg-2 mx-auto align-middle">
            <h2 class="text-uppercase">
               <a href="{% url 'home' %}"><img src="{% static 'AluminiConnect/img/logo/alumb1.png' %}" style="width: 4em; height: auto;"></a>
            </h2>
         </div>
         <div class="col-lg-8 mx-auto align-middle">
            <h1 class="text-uppercase mt-4">
               <strong>STUDENT ALUMNI CELL</strong>
            </h1>
         </div>
      </div>
   </div>
</header>

<section id="services" class="bg-primary p-1">
</section>

<div class="bg-white">
   <div class="login-container container text-left p-2 mx-auto">
      <div class="card shadow m-4 bg-light">
         <div class="col-lg-12 mx-auto mx-auto">
            <div class="row text-left m-4 p-4">
               <p>
                  Thank you for registering to <b>IIITDMJ Alumni Association</b>. You will be receiving an email from Admin after verification.
               </p>
               <p>
                  Thank you again!
               </p>
            </div>
         </div>
      </div>
   </div>
</div>
{% include 'globals/footer.html' %}
{% endblock %}
<!--<!DOCTYPE html>
<html>

<head>
   <title>Confirm Email</title>
   <meta http-equiv="refresh" content="2; url = {% url 'home' %}" />
</head>

<body>
   <p>Please confirm your email address to complete registeration process. Redirecting...'</p>
   <p>
      We've emailed you instructions to complete your registeration process.You should receive them shortly.
   </p>
   <p>
      If you don't receive an email, please make sure you've entered the address you registered with,and check your
      spam folder.
   </p>
   <p>
      Redirecting to homepage...
   </p>
</body>

</html>-->